[2020-05-04 20:31] Judoguy12 opened #2 "Create a list of stakeholder needs"

[2020-05-04 20:31] Judoguy12 opened #3 "Create a MAINTAINER doc"
Maintainer doc should include minimal documentation for managing maintainer workflow, including how to submit/label issues, create/update working branches, and submitting/merging pull requests for facilitating version control of source code and API documentation.

[2020-05-04 20:34] Judoguy12 opened #4 "Create a CONTRIBUTING doc"
CONTRIBUTING doc should include minimal documentation for managing driveby contributor workflow, including how to submit issues, create/update working branches/forks, and submitting pull requests.

[2020-05-04 20:36] Judoguy12 opened #5 "Flow meter alerting"
What kind of alerts should the flow meter have?

Some candidates:
-- sudden shutoff of flow (disconnect)
-- sudden increase of flow (coughing)
-- sudden decrease of flow (line kink)

[2020-05-04 20:36] Judoguy12 opened #6 "Flow Meter display"
How should the display work?

Current thought: show flow in mmH2O/sec as a waveform, allow different waveforms to be shown on a central board or show each waveform on each patient line, depending on how boards are wired.

[2020-05-04 20:37] Judoguy12 commented on #6
Ventilators use the following units

- Pressure - cmH20
- Flow - L/min
- Volume - ml
- Respiratory rate - br/min

[2020-05-04 20:37] Judoguy12 opened #7 "tubing design with no right angles"
Per Daniel Stemen, make sure there are no right angles in the flow system, and make sure each patient gets the same amount of flow (possibly) before flow adjustments are made.

[2020-05-04 20:38] Judoguy12 opened #8 "iso 18562 testing"
Do we need this? Hopefully not: it will be $50-$60k and 70-90 days on a prototype.

Here are my notes from the 15 April 2020 meeting notes with NAMSA:

NAMSA meeting

potential for condensate to collect in the air pathway
has to be controlled or known if it's a risk

if it's likely that condensate could form, or nothing to say that it couldn't,
then things get a bit more complex
18562, because the

[2020-05-04 20:38] Judoguy12 opened #9 "Shutoff Valve too restrictive"
V5 of the shutoff valve feels like it's restricting the flow too much

[2020-05-04 20:48] Judoguy12 opened #10 "Shutoff Valve too restrictive"
V5 of the shutoff valve feels like it's restricting the flow too much

[2020-05-04 20:48] #10 closed

[2020-05-04 20:49] Judoguy12 opened #11 "Uk Regultory Submission"
Talking to a reg guy in the UK we should apply for this in the UK: https://www.gov.uk/guidance/exceptional-use-of-non-ce-marked-medical-devices

[2020-05-04 20:50] Judoguy12 opened #12 "Software compliance"
The UK standard says that all safety critical software (which this probably would be) must comply with a standard call 62304. Do we know if the team is working to this standard?
Link here https://www.iso.org/standard/38421.html

[2020-05-04 20:50] Judoguy12 opened #13 "Need for UK clinical need - URGENT FOR UK REGULATORY APPROVAL"
We need a clinical need statement from different consultants to show that this is a device that is needed and would be used

[2020-05-04 20:51] Judoguy12 opened #14 "Instructions for use document"
For Uk submission and probably FDA we need a document that gives the instructions for use of our system

[2020-05-04 20:51] Judoguy12 opened #15 "Create SOP document"
If we go down the distributed manufacturing route (hobby 3d printing) we will need to produce SOP's for the makers, like this sort of thing: https://www.3dcrowd.uk/sop

[2020-05-04 20:56] Judoguy12 opened #16 "Component performance tracking data doc"
Need to create a document for tracking the performance data of each component per revision.

Should include:

1. Standardized test methods and procedures
  - performance standard test guide
-   list of parts/components to control (known to function correctly)
-   component measurement error testing
-   component repeatability testing
2. Area for documenting (in field) setup and procedures
3. Perfo

[2020-05-04 20:56] Judoguy12 opened #17 "Create FMEA template"
Create a plaintext document template for a Failure Modes & Effects Analysis (FMEA) chart.

[2020-05-04 20:57] Judoguy12 opened #18 "Add runtime in display"
The software should have a runtime counter
This counter will show how long the device has been running, and perhaps how many hours until maintenance?

[2020-05-05 18:50] Burhan-Q opened #19 "PEEP valve - air leak"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:51] Burhan-Q opened #20 "PEEP valve - incorrect positive pressure"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:51] Burhan-Q opened #21 "PEEP valve - mechanical malfunction"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:52] Burhan-Q opened #22 "Flowmeter - inaccurate measurement information"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:52] Burhan-Q opened #23 "Flowmeter - display malfunction"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:52] Burhan-Q opened #24 "Flowmeter - controller malfunction"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-05 18:53] Burhan-Q opened #25 "Flowmeter - air leak"
- [ ] 1. Determine failure testing procedure
- [ ] 2. Investigate possible sources of failure
- [ ] 3. Determine tolerances for failure mode
- [ ] 4. Establish component life cycle
- [ ] 5. List other components that may have detrimental response
- [ ] 6. If possible, determine likelihood of failure
- [ ] 7. If possible, determine lowest threshold for detecting failure
- [ ] 8. Rank severity of fa

[2020-05-16 20:08] Burhan-Q opened #29 "Off the shelf parts"
Collect list of part numbers, specs, links, and documents for any/all off the shelf parts used. These will be listed in the final BOM and assembly documentation, for others to reference if looking to recreate the splitter system.

[2020-06-15 18:26] mmroden opened #42 "never allow the raspberry pi desktop to show up"
When we're in the prod environment, the raspberry pi desktop should not show up, just the tetra UI.

[2020-06-15 18:27] mmroden commented on #42
Links to Pull Request #41

[2020-06-15 18:39] mmroden opened #43 "add in the ability to have 20 minutes of power during a blackout"
Need to have the ability to have 20 minutes of power during a blackout, meaning:
-- have to charge while on main power
-- have to switch over to battery when the power goes out
-- can be internal, does not need to be hot-swappable
-- not intended for transport, only intended for power outages

[2020-06-16 00:11] fpdotmonkey commented on #42
The `autostart` section here explains how to do this.  I'll condense the guide into a tutorial and push it up https://learn.sparkfun.com/tutorials/how-to-run-a-raspberry-pi-program-on-startup/all

[2020-06-22 18:53] Burhan-Q commented on #29
### Tetra valve
v4-1

[1x G-74 - Compression Spring](https://www.centuryspring.com/catalog/?page=product&cid=root&id=G-74CS)
---Spring critical specifications---
spring rate = 0.385 N/mm (2.2 lbs/inch )
**minimum** inner diameter = 4.44 mm (0.175")
**max** solid length = 2.3 mm (0.09")

[1x O-Ring: -018 N70 NITRILE (NBR, BUNA) 70 DUROMETER BLACK](https://www.globaloring.com/product/n70018/)
[1x O-

[2020-06-22 19:02] Burhan-Q commented on #29
### Shutoff valve

[4x O-Ring: -361 N75A Viton Fluoroelastomer](https://www.mcmaster.com/9464K623)
[2x Zinc-plated steel M4 x0.7 hex nut](https://www.mcmaster.com/90591A141)
[2x 18-8 stainless steel M4 x 0.7 screw 15 mm](https://www.mcmaster.com/92095A125)

[2020-06-24 07:50] capsulecorplab opened #44 "Migrate documentation to tetrabiodistributed.github.io"
Content from the following folders s/b migrated to tetrabiodistributed.github.io

- [ ] 01_Research
- [ ] 03_Visualization_and_Handbooks
- [ ] Display

[2020-06-24 07:59] capsulecorplab commented on #44
@fpdotmonkey tagging you for the Display folder

[2020-06-29 18:10] Burhan-Q commented on #29
**Computer and Display**

[7" Touch display](https://www.raspberrypi.org/products/raspberry-pi-touch-display/)
[Raspberry Pi (additionally appropriate power supply, cables, storage, and other basic accessories](https://www.raspberrypi.org/products/raspberry-pi-4-model-b/)
_Notice: RPi4 in use for prototype, but at the moment no known limit for selecting a model; recommend RPi3 or newer_

[2020-07-01 00:26] capsulecorplab commented on #4
Closing as per https://tetrabiodistributed.github.io/project-tetra-docs/how-to-guides/contribution-guidelines/

[2020-07-01 00:26] #4 closed

[2020-07-01 00:27] capsulecorplab commented on #3
Closing as per https://tetrabiodistributed.github.io/project-tetra-docs/how-to-guides/configuration-management/

[2020-07-01 00:27] #3 closed

[2020-07-07 04:45] capsulecorplab commented on #29
Linking Hannah's [Hardware parts list](https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit?usp=sharing) for cross-reference.

[2020-07-07 15:16] Burhan-Q opened #49 "Tetra Valve springless design"
# Primary
- [x] update Tetra (flow control) valve design v5 to work without spring
- [ ] final valve design version will pass all tests

## v7-1
- [x] CHANGE: increase thread length for plunger to clear outlet opening

### Tested
- v7-1 FDM printed
  - difficult to determine setting; REQUEST: add markers and cap stop
- v7-1 SLA printed
  - resin in cap threads difficult to clean; REQUEST: larger t

[2020-07-10 18:33] Judoguy12 commented on #43
Can this be closed @mmroden

[2020-07-10 19:18] mmroden commented on #43
This is a design constraint around the system, so if we close it, we need to capture the constraint somewhere else to make sure we're testing for it.

[2020-07-10 21:41] capsulecorplab opened #53 "add static typehints to python code"
As of [PEP484](https://www.python.org/dev/peps/pep-0484/), static typehints add a layer of fidelity for better linting & debugging, without altering funcionality. This is perhaps best leveraged with python linters, such as [pyllama](https://github.com/klen/pylama)

[2020-07-14 22:30] fpdotmonkey opened #56 "Software logging"
Log data as it is needed.

[2020-07-17 17:28] capsulecorplab opened #60 "separate 02_Development/ into software/ & hardware/"
- [ ] move `02_Development/Display/` to separate repo as per #62
- [ ] move CAD/Drawings/STL files from `02_Development/` to `hardware/`
- [ ] delete `02_Development` after above steps are complete

[2020-07-17 18:27] capsulecorplab opened #61 "Add CI for python tests using GitHub Actions"
Should be doable with https://github.com/actions/checkout

[2020-07-19 00:25] capsulecorplab opened #62 "move python code for raspberry pi display to separate repo"
The python for the raspberry pi display would be best maintained in a separate repo, as to not confuse its version number or LICENSE with the CAD, STL, & Drawing (a.k.a hardware) files.

This is really a two part task consisting of:
- [x] adding display code in https://github.com/tetrabiodistributed/project-tetra-display
- [ ] removing display code from https://github.com/tetrabiodistributed/proje

[2020-07-19 17:16] mechatroniks-git opened #63 "Updates to P-PET-000008"
1. NPT tap needs to be able to continue thru the hole and not bottom out
2. Concerns with self tapping screws in the plastic, request to use threaded inserts or (captured) nuts
3. O-ring can be larger OD and smaller cross-section to reduce screw clamping force

[2020-07-19 22:41] mechatroniks-git commented on #63
![image](https://user-images.githubusercontent.com/57600622/87887036-4bcafd00-c9d6-11ea-8796-fe0edbb3cd0e.png)

[2020-07-20 21:48] Burhan-Q opened #64 "P-TET-000004-0 RPi display frame Design change"
- [x] Add 0.25 mm to current width on inside RPi display frame

[2020-07-20 21:51] Burhan-Q opened #65 "Add part numbers and versions to models"
All printed parts need to have part number and current version/milestone text embossed or extruded located on the body when released. This will need to be done manually (unless possible to add python script to generate feature).

[2020-07-20 21:56] Burhan-Q opened #66 "RPi display mounting brackets directionality"
Add directional indication arrows to outside of brackets

[2020-07-21 06:24] fpdotmonkey opened #67 "Cable for Sensirion SFM3300-D"

[2020-07-21 06:26] fpdotmonkey commented on #67
https://www.mill-max.com/products/new/rugged-4mm-pitch-spring-loaded-connectors

[2020-07-21 06:26] fpdotmonkey commented on #67
https://www.nxp.com/products/interfaces/ic-spi-serial-interface-devices/ic-bus-repeaters-hubs-extenders/i2c-bus-extender:P82B715

[2020-07-21 06:40] fpdotmonkey opened #68 "Determine target refresh rate"
Also target oversampling for pressure

[2020-07-21 16:49] Burhan-Q opened #69 "Raspberry Pi Complex Explode"
Create exploded view: A-TET-001002-0 Raspberry Pi Complex

[2020-07-21 18:11] Burhan-Q opened #70 "Raspberry Pi Complex Drawing"
#69 Create exploded view required to finish before drawing is made

[2020-07-21 18:32] Burhan-Q opened #71 "⇑ A-TET-001003-0 Pressure Manifold Explode"
**Create exploded view:** A-TET-001003-0 Pressure Manifold
- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Review _(assign reviewer, comment, & move on Project Board)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 18:41] Burhan-Q opened #72 "<71> Pressure Manifold Drawing"
#71 **Create exploded view** Required to finish before drawing is made

[2020-07-21 18:53] Burhan-Q opened #73 "↑ Tetra PCBA Exploded"
**Create exploded view:** A-TET-001004-0 Tetra PCBA

[2020-07-21 18:56] Burhan-Q opened #74 "⇓ Tetra PCBA Drawing"
#73 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:00] Burhan-Q opened #75 "⇑ RPi with Touchscreen Exploded"
**Create exploded view:** A-TET-001005-0 Raspberry Pi with Touchscreen

[2020-07-21 19:04] Burhan-Q opened #76 "⇑ A-TET-001010-0 Tetra Valve with One Way Exploded"
**Create exploded view:** A-TET-001010-0 Tetra Valve with One Way
- [x] Assigned _(specify assignees)_
- [x] Work in Progress _(move card on Project Board)_
- [x] Submit for Review _(assign reviewer, comment, & move on Project Board)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 19:05] Burhan-Q opened #77 "⇓ Tetra Valve with One Way Drawing"
#76 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:07] Burhan-Q opened #78 "⇑ Tetra Inspiratory 4-way Splitter Exploded"
**Create exploded view:** A-TET-001011-0 Tetra Inspiratory 4-way Splitter

[2020-07-21 19:08] Burhan-Q opened #79 "⇑ Tetra Inspiratory 4-way Splitter Drawing"
#78 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:11] Burhan-Q opened #80 "⇑⇓ Raspberry Pi with Touchscreen Drawing"
#75 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:35] Burhan-Q opened #81 "⇑ Tetra Inspiratory/Expiratory Splitter Exploded"
**Create exploded view:** A-TET-001012-0 Tetra Inspiratory/Expiratory Splitter

[2020-07-21 19:37] Burhan-Q opened #82 "⇓ Tetra Inspiratory/Expiratory Splitter Drawing"
#81 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:39] Burhan-Q opened #83 "⇑ Bias Complex Exploded"
**Create exploded view:** A-TET-001016-0 Bias Complex

[2020-07-21 19:41] Burhan-Q opened #84 "⇓ Bias Complex Drawing"
#83 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:42] Burhan-Q opened #85 "Standalone Shut Off valve Exploded"
**Create exploded view:** A-TET-001015-0 Standalone Shut Off valve

[2020-07-21 19:43] Burhan-Q opened #86 "⇓ Standalone Shut Off valve Drawing"
#85 **Create exploded view** Required to finish before drawing is made

[2020-07-21 19:44] Burhan-Q opened #87 "⇑ Expiratory Support mounts Exploded"
**Create exploded view:** A-TET-001014-0 Expiratory Support mounts

[2020-07-21 19:45] Burhan-Q opened #88 "⇓ Expiratory Support mounts"
#87 **Create exploded view** Required to finish before drawing is made

[2020-07-21 20:04] Burhan-Q opened #89 "⇑ Tetra Inspiratory/Expiratory Complex Exploded"
**Create exploded view:** A-TET-001013-0 Tetra Inspiratory/Expiratory Complex
- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 20:06] Burhan-Q opened #90 "⇑ Tetra Inspiratory/Expiratory Complex Drawing"
#89 **Create exploded view** Required to finish before drawing is made

- [ ] Exploded view created
- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 20:26] Burhan-Q opened #91 "⇑ Tetra Electronics Exploded"
**Create exploded view:** A-TET-001009-0 Tetra Electronics

### Included components

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 20:31] Burhan-Q opened #92 "⇑ Tetra Electronics Drawing"
**Create exploded view** Required to finish before drawing is made

### Included components

- [ ] Exploded view created
- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment

[2020-07-21 20:41] Burhan-Q opened #93 "⇑ Tetra Enclosure Body Exploded"
**Create exploded view:** A-TET-001007-0 Tetra Enclosure Body

### Included components

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 20:43] Burhan-Q opened #94 "⇓ Tetra Enclosure Body Drawing"
#93 **Create exploded view** Required to finish before drawing is made

### Included components

- [ ] Exploded view created
- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Review _(comment w/ date and assigned reviewer)_
- [ ] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Review complete _(assigned reviewer comm

[2020-07-21 21:11] Burhan-Q opened #95 "Create Drawing Template"
- [x] Assigned _(specify assignees)_
- [x] Work in Progress _(move card on Project Board)_
- [x] Submit for Review _(comment w/ date and assigned reviewer)_
- [x] Working on Review changes _(comment w/ list of changes and date)_
- [ ] Final Review complete _(assigned reviewer comment with approved date)_

[2020-07-21 21:12] Burhan-Q commented on #95
Status update: awaiting logo design from @thehannahfink and @cyunis for adding to template

[2020-07-21 21:26] Burhan-Q commented on #95
@jgrano Assigned as Reviewer

[2020-07-21 21:56] mechatroniks-git opened #96 "A-TET-001005 - Add wires to assembly"
Need to add power and ground wires to the assembly. These typically come with the RPi display, but they need to be added as a component (virtual or modeled) and noted they need to be modified

[2020-07-21 22:04] mechatroniks-git opened #97 "P-TET-000021 Shutoff valve Knob - Design Updates"
- [x]  Thin wall section can't print, needs to be cut back or thickend up.
- [x]  Loose fit when mating to P-TET-000019
- [x]  Needs more clearance when mating to P-TET-000020
- [ ]  Consider DFAM tweaks
- [x]  Emboss part number to model

[2020-07-21 22:07] mechatroniks-git opened #98 "P-TET-000019 Design Fixes"
- [ ] O-ring grooves too tight
- [ ] OD fit with SLA tetra valve was ok, but with FDM shutoff valve, it was a bit tight
- [ ] Pocket to hold nut needs to be changed so that nut doesn't spin
- [ ] Consider modifying pocket to hold nut such that nut kept centered during assembly (drop in to shallow pocket?)

[2020-07-21 22:10] mechatroniks-git opened #99 "P-TET-000022 Design Fixes"
- [ ] Check o-ring groove
- [ ] OD of bore as it mated with P-TET-000023 was too tight, need to reduce to avoid interference
- [ ] Reduce amount of material used in part, cost saving

[2020-07-21 22:12] Judoguy12 commented on #76
21/07/2020 @mechatroniks-git

[2020-07-21 22:13] Judoguy12 commented on #77
21/07/2020 @mechatroniks-git

[2020-07-21 22:14] mechatroniks-git opened #100 "P-TET-000023 Design Updates"
- [ ] Method to constrain nuts did not prevent them from spinning during assembly
- [ ] 22M port is not ISO-5356 compliant
- [ ] DFA - Remove extra one way valve nub if not needed to avoid assembly confusion
- [ ] DFAM - Darryl had recommendations for changes

[2020-07-21 22:16] mechatroniks-git opened #101 "A-TET-001010 - Drawing update"
- [x] Reorder parts list, item #10 is missing

[2020-07-21 22:29] mechatroniks-git opened #102 "P-TET-000004 - Design update"
- [ ] Open up Pi Display pocket by .25mm (WAS:193.00mm, IS:193.25mm)
- [ ]  Add embossed part number to model

[2020-07-21 22:33] mechatroniks-git commented on #66
- [ ] Modify M2.5 clearance holes to be M3 clearance.
- [ ] Instead of adding arrows, consider adjusting design so part can by installed either way (arrows can be ignored)

[2020-07-21 22:39] mechatroniks-git opened #103 "P-TET-000009 Front port cover - Design Updates"
- [x] Open up holes to allow ISO5356 22M port to clear
- [x] Add part # to model

[2020-07-21 23:06] mechatroniks-git opened #104 "P-TET-000018 - Design Updates"

[2020-07-21 23:16] mechatroniks-git opened #105 "P-TET-000006 - Design Updates"
- [ ] ISO5356 22F port too small to mate with M-SEN-SFM3300 22M
- [ ] O-Ring groove in slip port too small, could not install o-ring
- [ ] Slip port is too loose, (27mm opening to 26mm tube)
- [ ] Tap NPT hole full depth
- [ ] Emboss part number in model

[2020-07-21 23:22] mechatroniks-git opened #106 "P-TET-000001/2/3 - Design Updates"
- [ ]  Update mating diameters for tighter fit with less clearance, based on expected part accuracy from FormLabs
- [ ]  Add alignment marks to ensure assembly of mating parts at the correct angle
- [ ]  Emboss part number in models

[2020-07-22 13:29] Judoguy12 commented on #101
Should be good now @mechatroniks-git

[2020-07-22 13:39] Judoguy12 commented on #85
22/07/2020 @mechatroniks-git

[2020-07-22 13:56] Judoguy12 commented on #87
22/07/2020 @mechatroniks-git to review

[2020-07-22 16:13] mechatroniks-git commented on #101
There appears to be 2 drawing files for this assembly.
Remove the trail for the nut that doesn't make sense
You need to clean up the arrows
![image](https://user-images.githubusercontent.com/57600622/88200891-9f6a6000-cbfb-11ea-8fd0-3ad4f309b5b9.png)

[2020-07-22 16:59] Judoguy12 commented on #101
The trail on that nut can't go to there as fusion is tracking the nut back to where it came from as if it was all moved down at once

[2020-07-22 17:06] Judoguy12 commented on #101
Done @mechatroniks-git

[2020-07-22 19:48] Judoguy12 commented on #77
Blocked awaiting updated logo, title block, copyright, license and notes.

[2020-07-22 20:22] Judoguy12 commented on #103
@mechatroniks-git Where is this part located?

[2020-07-22 22:57] mechatroniks-git commented on #103
In the main assembly, it's the 4 dual port covers where the inspiratory/expiratory connections are

[2020-07-23 02:18] mechatroniks-git commented on #95
Drawing templates needed (mostly just notes changes)
- FDM Part Template (perhaps make it 2 sheets, 2nd sheet for heated inserts/post processing)
- SLA Part Template
- Assembly Template

Notes on Assembly Template:
[code]

[2020-07-23 04:32] cyunis commented on #64
video with description of issue
[20200720_141340.mp4.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963838/20200720_141340.mp4.zip)

[2020-07-23 04:34] cyunis commented on #66
Video from 7/20 showing the asymmetry of the part and hole modifications for better fit.
[20200720_141804.mp4.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963841/20200720_141804.mp4.zip)

[2020-07-23 04:50] cyunis commented on #99
Videos of sanding part to fit (and cleaning after) on 7/20:
[Archive.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963879/Archive.zip)

[2020-07-23 05:06] cyunis commented on #100
Video showing failure to constrain nut from 7/20:
[20200720_173240.mp4.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963913/20200720_173240.mp4.zip)

[2020-07-23 05:15] cyunis commented on #106
Video showing how we taped these parts together on 7/20:
[20200720_183919.mp4.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963927/20200720_183919.mp4.zip)

[2020-07-23 05:17] cyunis commented on #102
this issue was already opened by burhan (issue #64)

[2020-07-23 05:25] cyunis commented on #98
Videos from 7/20:
[Archive.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963966/Archive.zip)

[2020-07-23 05:29] cyunis commented on #97
Videos from 7/20 showing screw details mostly and modifications to improve fit:
(also see Issue #98 for more videos of part P-TET-000021 with P-TET-000019 fit)

[20200720_181008.mp4.zip](https://github.com/tetrabiodistributed/project-tetra/files/4963976/20200720_181008.mp4.zip)

[2020-07-23 14:08] Judoguy12 commented on #103
Updated and ready for review @mechatroniks-git

[2020-07-23 16:07] mechatroniks-git commented on #97
![image](https://user-images.githubusercontent.com/57600622/88309952-f20f4f00-ccc3-11ea-98a9-2a62de569d14.png)

[2020-07-23 16:18] mechatroniks-git commented on #105
![image](https://user-images.githubusercontent.com/57600622/88311168-68f91780-ccc5-11ea-9f21-e683dfad8012.png)

[2020-07-23 16:25] mechatroniks-git commented on #98
![image](https://user-images.githubusercontent.com/57600622/88311956-69de7900-ccc6-11ea-8bd8-8a74cac69db6.png)

[2020-07-23 20:24] Burhan-Q commented on #64
@mechatroniks-git What material are you using to print this? The original dimensions for the part are shown in the image:
![image](https://user-images.githubusercontent.com/62214284/88335067-b47ce700-cd00-11ea-8b26-f85bf14c1c52.png)

I will add an additional 0.25mm as you mentioned, but would like to track what kind of material shrinkage we're seeing to avoid future issues.

[2020-07-23 20:52] Burhan-Q commented on #64
@mechatroniks-git change has been made, ready for review. Going to move card to under review on project board.

[2020-07-23 21:15] Burhan-Q commented on #96
Added virtual (empty) components to assembly, moving ticket to Review

[2020-07-23 21:23] Burhan-Q commented on #65
Parts list to add part number boss:

- [ ] P-TET-000001-0	90 Degree Elbow
- [ ] P-TET-000002-0	Large T
- [ ] P-TET-000003-0	Ventilator_IO-T
- [x] P-TET-000004-0	RPi display frame
- [ ] P-TET-000005-0	Pressure Manifold (SLA)
- [ ] P-TET-000006-0	ISO Adapter w/ pressure port
- [ ] P-TET-000007A-0	Radial front & top panel joint
- [ ] P-TET-000007B-0	Radial front & top panel joint
- [ ] P-TET-000007C-

[2020-07-23 21:27] #49 closed

[2020-07-23 21:45] jgrano commented on #98
Took all above notes into consideration rework of this part. Will reprint 7/23 and verify fit w/o o-rings

[2020-07-23 21:56] Judoguy12 commented on #98
John, when you save the part you could put in the reason for saving the
issue number so it is traceable

On Thu, 23 Jul 2020, 22:45 jgrano, <notifications@github.com> wrote:

[2020-07-23 22:36] jgrano commented on #98
![image](https://user-images.githubusercontent.com/38054469/88345087-71237800-cd02-11ea-99b2-942d15840d5b.png)
@Judoguy12 so add #98 to the final save?

[2020-07-23 23:10] jgrano commented on #98
Final save of design and starting to print based on all feedback.

[2020-07-23 23:47] jgrano commented on #97
![image](https://user-images.githubusercontent.com/38054469/88349154-7ab1dd80-cd0c-11ea-8745-e470dcb75e98.png)
0.25mm spacing between the knob and the inner stub on part 20

[2020-07-24 00:12] jgrano commented on #105
@mechatroniks-git Fusion still lacks this capability as a FYI for the NPT threads. The thread profile was made by using the MC part as a cutting tool.

[2020-07-24 00:17] jgrano commented on #105
@Judoguy12 made a quick change out the outer diameter of the ISO section of this part to increase wall thickness. Will print. The part was pulled from the main assembly and is now residing in \tubing in the fusion teams project as a fork.

[2020-07-24 00:25] jgrano commented on #105
@mechatroniks-git How do you feel about changing the NPT port to a straight threaded M3 and using push to connect for the air hose?

https://www.mcmaster.com/5225K519/

[2020-07-24 09:46] Judoguy12 commented on #105
Please do that it is much easier

[2020-07-24 14:44] mechatroniks-git commented on #105
For this build, let's stick with parts on hand (time & cost). For next iteration, I don't know if M3 in FDM/SLA would be robust with the leverage that can be exerted during tubing insertion, much better for an aluminum part.

[2020-07-24 14:45] mechatroniks-git commented on #105
![image](https://user-images.githubusercontent.com/57600622/88403811-dd918c00-cd81-11ea-965f-6537ed1152bb.png)

[2020-07-24 14:49] mechatroniks-git commented on #106
![image](https://user-images.githubusercontent.com/57600622/88403811-dd918c00-cd81-11ea-965f-6537ed1152bb.png)

[2020-07-24 14:49] #102 closed

[2020-07-24 15:23] mechatroniks-git commented on #103
@Judoguy12 The hole is still too small.
![image](https://user-images.githubusercontent.com/57600622/88407407-ec2e7200-cd86-11ea-92a1-cc1dcf326664.png)

Here is the ISO Spec
![image](https://user-images.githubusercontent.com/57600622/88407262-b9847980-cd86-11ea-8d75-155b203e5ec4.png)

[2020-07-24 15:24] mechatroniks-git commented on #64
@mmroden printed it with PLA

[2020-07-24 15:29] mechatroniks-git commented on #64
Since we already have a -0 STL in github, we need to bump the part number to a -1.

Dimension change appears to be good.
![image](https://user-images.githubusercontent.com/57600622/88407883-a02ffd00-cd87-11ea-88d6-4167561706d2.png)

[2020-07-24 15:41] mechatroniks-git commented on #96
Try to use the existing nomenclature to avoid confusion during assembly:
![image](https://user-images.githubusercontent.com/57600622/88409083-51836280-cd89-11ea-89e9-3d5672033bb3.png)

![image](https://user-images.githubusercontent.com/57600622/88409213-80013d80-cd89-11ea-9775-369bcec2de0a.png)

[2020-07-24 16:36] Burhan-Q commented on #64
Understood. I will update part text, but @mechatroniks-git, when I save the new part should I create a new milestone for Rev 1 and update the part number to reflect the revision?

[2020-07-24 17:21] Burhan-Q commented on #96
@mechatroniks-git, Understood I will make these changes. The wires appeared to be grounding wires in the photos/videos posted but I did not look up they're purpose, and thought with respect to the BOM the wires would not need color specification.

Once changes are complete, should the Revision Number for the assembly be updated due to the addition of the virtual components?

[2020-07-24 18:19] Judoguy12 commented on #103
Done @mechatroniks-git

[2020-07-24 18:44] chrismolinari456 opened #107 "Organize tickets/ issues to different repos"
Organize issues and tickets to their respective repos/ boards, which this ticket is ironically contributing to.

[2020-07-24 18:50] professor-nimrod commented on #107
Can't assign this to me for some reason right now, but I will take care of it at a point we all agree on

[2020-07-24 18:59] Judoguy12 commented on #107
Assigned you

[2020-07-24 20:12] Burhan-Q commented on #76
I'm not 100% on this, but I would think that since the o-ring is installed from the bottom side, you'd want to move it under that section of the valve. I say this since I think the idea of the drawings is to demonstrate how this would be assembled, so the parts should be positioned relative to how they'll be installed. Otherwise, I think this looks good

![image](https://user-images.githubusercont

[2020-07-24 21:19] Judoguy12 commented on #76
Did that not update? i had moved that 😓

[2020-07-24 21:28] Judoguy12 commented on #76
@Burhan-Q Should be fixed now

[2020-07-24 21:29] Judoguy12 commented on #85
@Burhan-Q Ready for review

[2020-07-24 21:29] Judoguy12 commented on #87
@Burhan-Q Ready for review

[2020-07-24 21:30] #101 closed

[2020-07-24 21:47] #19 closed

[2020-07-24 21:47] #20 closed

[2020-07-24 21:47] #21 closed

[2020-07-24 21:47] #22 closed

[2020-07-24 21:47] #23 closed

[2020-07-24 21:47] #24 closed

[2020-07-24 21:47] #25 closed

[2020-07-24 21:50] mechatroniks-git commented on #64
I'd only save a milestone whenever you upload the file to git

[2020-07-24 21:55] mechatroniks-git commented on #96
This would be a drawing revision from - to A. The assembly didn't change, just a documentation change.

[2020-07-24 22:20] Burhan-Q commented on #96
Understood. Changes have been made. Please close if approved

[2020-07-24 22:25] Burhan-Q commented on #64
Agreed (with a minor caveat). I think we have a running discussion of this topic [here](https://helpfulengineering.slack.com/archives/G012Q55KWN7/p1595612022005500) about that. I think once we've hammered out the details, I'll be working with @cyunis to formalize it into the GitHub Docs.

[2020-07-24 22:28] Burhan-Q commented on #76
Exploded view looks ready for drawing #77

Closing issue

[2020-07-24 22:28] #76 closed

[2020-07-24 22:34] Burhan-Q commented on #85
When first opened Exploded view, components were hidden
![image](https://user-images.githubusercontent.com/62214284/88440539-43126680-cddc-11ea-881e-c5d51bc58381.png)

[2020-07-24 22:36] Burhan-Q commented on #85
@Judoguy12
- [x] move blue highlighted parts up some
- [x] P-TET-000020-1 needs to be clear of base
- [x] try to space o-rings evenly
- [x] remove leader line from nut (unless it can be shown as inserting into catch

![image](https://user-images.githubusercontent.com/62214284/88440546-49084780-cddc-11ea-9354-90038dcc94bf.png)

[2020-07-24 22:43] Burhan-Q commented on #87
@Judoguy12, please point me where to find this exploded view, I'm unable to locate it. Should only need to comment with the Directory and Filename, no direct link needed.

[2020-07-24 23:07] Judoguy12 commented on #87
@Burhan-Q Animations tab of the prototype v1 system, storyboard with the largest number

[2020-07-24 23:13] Judoguy12 commented on #85
@Burhan-Q All fixed now

[2020-07-27 18:22] mechatroniks-git commented on #63
I went ahead and modified the printed part I have here, updated the fusion model to reflect the mods.

[2020-07-27 18:43] mmroden commented on #100
Time estimate: 2 days + 2 days revision

[2020-07-27 18:44] mmroden commented on #99
2 day estimate + 2 day revision

[2020-07-27 18:46] mmroden commented on #97
1 day + 2 days revisions

[2020-07-27 18:50] mmroden commented on #85
1 day estimate

[2020-07-27 18:50] mmroden commented on #64
less than a day to update, 2 days review

[2020-07-27 19:03] Burhan-Q commented on #98
Darryl to print for testing

[2020-07-27 19:04] mmroden commented on #64
to be printed by Mark, reviewed by Patrick

[2020-07-27 19:04] mmroden commented on #64
will be printed in white

[2020-07-27 19:09] mmroden commented on #106
Glue is the only question here, the rest of this may be bumped down to beta.

[2020-07-27 19:13] mmroden commented on #105
John will do it, Patrick will review, Jamie does final approval

[2020-07-27 19:15] mmroden commented on #77
Jamie can work with someone to update the template, Hannah will with Jamie.
Burhan will do the review
Patrick will do the final approval

[2020-07-27 19:18] mechatroniks-git commented on #77
#95 is a related issue

[2020-07-27 19:21] mmroden commented on #96
Jamie will do final approval

[2020-07-27 19:22] mmroden commented on #87
Burhan will review, John will do final approval

[2020-07-27 19:24] mmroden commented on #103
Patrick will review, John will approve

[2020-07-27 19:47] Burhan-Q opened #108 "P-TET-000001/2/3 Piping manifold design updates"
Branch of issue #106

Need to determine Glue for tubing parts

@DHHwangPhD & @Burhan-Q (checking with FormLabs)

- possible to use liquid resin and cure with UV flashlight
- potential to use E6000 as a glue

[2020-07-27 21:43] mechatroniks-git commented on #63
Mod looks good
![image](https://user-images.githubusercontent.com/57600622/88595132-4b0a1a80-d017-11ea-876f-bed8d0409fcf.png)

[2020-07-27 21:48] mechatroniks-git commented on #105
@jgrano - for the NPT hole, if you can add a chamfer, it helps with tapping and installing

![image](https://user-images.githubusercontent.com/57600622/88595635-337f6180-d018-11ea-90dd-362d64656f07.png)

[2020-07-28 15:18] Burhan-Q commented on #87
@jgrano review changes look good, ready for approving

[2020-07-28 15:20] Burhan-Q commented on #85
@Judoguy12 Exploded view looks good, ready for approval @mechatroniks-git

[2020-07-28 15:25] Burhan-Q commented on #64
@mmroden ready for printing
[P-TET-000004-1.zip](https://github.com/tetrabiodistributed/project-tetra/files/4989315/P-TET-000004-1.zip)

[2020-07-28 15:30] Burhan-Q commented on #87
@Judoguy12 consider making the following changes:
- [x] adjust view so left edge is at (or nearly) 90-degrees
- [x] **OPTIONAL** add leader lines for the screws
![image](https://user-images.githubusercontent.com/62214284/88686940-9da21000-d0c5-11ea-8d8b-ddb0b4b72e2c.png)

[2020-07-28 15:37] Judoguy12 commented on #96
Approved 28/07/2020

[2020-07-28 16:10] Burhan-Q commented on #103
PEER check - Port diameters are 22.75mm and have enough space between to allow for 2" filters

[2020-07-28 16:18] Burhan-Q commented on #87
@Judoguy12  Exploded view looks good. @jgrano ready for approval

[2020-07-28 18:57] mechatroniks-git commented on #67
Attempted to use https://www.digikey.com/product-detail/en/avx-corporation/009155004201006/478-4684-1-ND/1687183
Contacts slip off the pad when compressed.
![image](https://user-images.githubusercontent.com/57600622/88707858-b01d4900-d0c7-11ea-850b-953e6b17483a.png)

[2020-07-28 18:58] mechatroniks-git commented on #67
This Samtec part is better, but interferes: https://www.digikey.com/product-detail/en/samtec-inc/SIB-104-02-F-S-LC/SAM10715-ND/2664704

![image](https://user-images.githubusercontent.com/57600622/88709105-836a3100-d0c9-11ea-9144-60277146040d.png)

[2020-07-29 00:03] mechatroniks-git commented on #67
Going with this part should work: https://www.digikey.com/products/en?keywords=821-22-004-10-002101

![image](https://user-images.githubusercontent.com/57600622/88741305-2768d200-d0f4-11ea-85ce-8296d87bc28a.png)

[2020-07-29 00:21] fpdotmonkey commented on #67
Seems like this tab doesnt extend out far enough![image](https://user-images.githubusercontent.com/3139615/88742341-d3132180-d0f6-11ea-807f-610bd26ebb62.jpeg)

[2020-07-29 01:14] Burhan-Q commented on #67
@fpdotmonkey Just curious, did you try clipping it from both directions? Happy to extend that tab, let me know what Δ you're seeing as needed.

![image](https://user-images.githubusercontent.com/62214284/88744994-e59d5300-d116-11ea-9c5f-7e709855c555.png)

[2020-07-29 04:21] jgrano commented on #98
Body that I printed works great, integrates fine with existing shutoff valve body.  Waiting for verification from Darryl

[2020-07-29 04:55] jgrano commented on #105
Printed out changes, Internal ISO fitting still feels a bit loose.

[2020-07-29 05:14] mechatroniks-git commented on #98
John, nice work. Can I go ahead and print the FDM parts on this?  should I pull STLs from Fusion? Point me in the right direction, want to make sure I print the right ones. Thanks.

[2020-07-29 09:04] capsulecorplab commented on #107
PSA: every repo should have its own project board now!

[2020-07-29 10:12] Judoguy12 commented on #105
@jgrano Shoud be tighter now, if you were referring to the 26 dismeter hole

[2020-07-29 13:12] Burhan-Q commented on #64
@mmroden printed with a nice, uneven marbling; will reprint

![image](https://user-images.githubusercontent.com/62214284/88804139-80c81400-d17b-11ea-87f7-74ea6c595f4d.png)

[2020-07-29 13:50] jgrano commented on #105
@mechatroniks-git Chamfer isn't coming out super clean on the npt section. Did some work around but still not super happy with it.

In addition I decreased the diameter of the ISO internal again since it is pushing too far along the shutoff/tetra valve ports before locking in place.  Printing again 7/29/20

[2020-07-29 18:19] mechatroniks-git commented on #67
@hydronics2, here is the PCB DXF
[Sensirion PCB.zip](https://github.com/tetrabiodistributed/project-tetra/files/4996695/Sensirion.PCB.zip)

[2020-07-29 18:21] mechatroniks-git commented on #67
The step file:
[Sensirion PCB Assembly Mockup.zip](https://github.com/tetrabiodistributed/project-tetra/files/4996702/Sensirion.PCB.Assembly.Mockup.zip)

[2020-07-29 21:30] fpdotmonkey commented on #67
@Burhan-Q looking at it closer, I think the issue is actually the fillet on the inside corner of the part stopping it from fully engaging.  That said, it is clipping on and staying affixed. ![image](https://user-images.githubusercontent.com/3139615/88855653-0d88c700-d1a8-11ea-9a4e-b8656c59be60.jpeg)

[2020-07-29 21:31] fpdotmonkey commented on #67
It could also be a print quality issue.

[2020-07-29 21:40] Burhan-Q commented on #67
@fpdotmonkey I can make that a sharp corner if you'd like to check for a better fit. Let me know what you'd like to do.

[2020-07-29 21:43] Burhan-Q opened #110 "[DRAFT] Sprint-2 Alpha parts printing queue"
# DRAFT #
This Issue is a draft outline for a means to track our printing queue for the Alpha Prototype Sprint-2. Once approved for use, this ticket will be closed and new issue will be created to actually use for production. Please comment on this Issue for discussion of changes or suggestions needed, or to communicate your approval for using this format.

----------------------------------------

[2020-07-29 21:44] fpdotmonkey commented on #67
Sure sounds good

[2020-07-29 21:44] fpdotmonkey commented on #67
Also what's the part number on this?

[2020-07-29 23:56] mechatroniks-git commented on #87
@Burhan-Q Missing the heated inserts (x 4)

[2020-07-29 23:59] jgrano commented on #97
@mechatroniks-git We're ready to have you print this.

[2020-07-30 00:01] jgrano commented on #104
@mechatroniks-git Can you send me some more close up pictures of the sensirion and the mating problems on this thread?

[2020-07-30 02:17] capsulecorplab commented on #61
Issue moved to https://github.com/tetrabiodistributed/project-tetra-display/issues/5

[2020-07-30 02:17] #61 closed

[2020-07-30 02:19] capsulecorplab commented on #53
Issue moved to https://github.com/tetrabiodistributed/project-tetra-display/issues/6

[2020-07-30 02:19] #53 closed

[2020-07-30 18:34] hydronics2 commented on #67
@mechatroniks-git  you're cutting it kinda close here. I'd recommend moving the connector 1-2 mm outboard or just trimming the PCB 1-2mm. Any input?... I usually let those connectors hang off the board anyway to allow more PCB space... but I don't want to mess with dimensions too much if you're designing a clamp thingy too...
![image](https://user-images.githubusercontent.com/3589948/88960641-ad9e

[2020-07-30 19:13] hydronics2 commented on #67
this is just a general note to remember for later... The P82B715 level shifts the i2c signals to 5V.
If we end up putting the 2nd chip on the master board,
be sure it level shifts back down to 3.3V or take other action as needed.

[2020-07-30 19:31] hydronics2 commented on #67
@mechatroniks-git  do we need jumpers? I figure either the P82B715 is landed or it's not. Cheap small boards easy to switch between those with the P82B715 and those without. right? I can put them on no sweat just thought I'd simplify things as needed.

[2020-07-30 19:40] Burhan-Q commented on #87
@Judoguy12 can you add the heat-serts and comment when updated? I believe it would be [these](https://www.mcmaster.com/94180A353/), but check the hole depth. You can find the off-the-shelf parts list [here ](https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit#gid=80304938&range=A1)if you need it

[2020-07-30 19:52] Burhan-Q commented on #67
@fpdotmonkey just now logged it on the [Hardware Parts List](https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit#gid=0&range=B29) as P-TET-000027

[2020-07-30 20:34] Judoguy12 commented on #87
Done @Burhan-Q

[2020-07-30 21:03] hydronics2 commented on #67
@mechatroniks-git  for review
![image](https://user-images.githubusercontent.com/3589948/88974177-14c5d880-d26d-11ea-889c-3ed0ac2a3242.png)

[2020-07-30 21:36] hydronics2 commented on #67
@mechatroniks-git  for review
![image](https://user-images.githubusercontent.com/3589948/88977097-1776fc80-d272-11ea-8c90-ca24d7a1fc24.png)

[2020-07-30 21:39] hydronics2 commented on #67
@mechatroniks-git   for review
![image](https://user-images.githubusercontent.com/3589948/88977238-6886f080-d272-11ea-9cf6-88ca98454173.png)

[2020-07-30 21:53] Burhan-Q commented on #108
![image](https://user-images.githubusercontent.com/62214284/88978320-7ac25800-d28d-11ea-9751-35ab3bb3ca78.png)
From [FormLabs blog article](https://formlabs.com/blog/how-to-create-models-larger-than-your-3d-printers-build-volume/?utm_source=pinshape&utm_medium=blog&utm_campaign=adhesives)

[2020-07-30 22:10] Burhan-Q commented on #108
[adhesive strengths for 3D printed bars](https://pinshape.com/blog/discover-the-best-adhesive-for-your-project/)
[FormLabs forum comment](https://forum.formlabs.com/t/is-there-an-instant-glue-for-formlab-resin-prints/8978/3)
[FL forum discussion on laser resin gluing](https://forum.formlabs.com/t/deeper-laser-gluing-curing-discussion/21792)
[FL general gluing discussion](https://forum.formlabs.com

[2020-07-30 22:21] jgrano commented on #105
Printing again 7/30/20

[2020-07-30 23:30] jgrano commented on #97
https://github.com/tetrabiodistributed/project-tetra/blob/master/02_Development/Prototype_release/Alpha/Parts_to_print/P-TET-000021-1.stl
@mechatroniks-git

[2020-07-30 23:33] jgrano commented on #99
https://github.com/tetrabiodistributed/project-tetra/blob/master/02_Development/Prototype_release/Alpha/Parts_to_print/P-TET-000022-1.stl

sent to @DHHwangPhD for printing test 7/30/20 - Did not choose to thin out print to save resin at this time.

[2020-07-30 23:35] jgrano commented on #104
@mechatroniks-git ISO5356 fitting is the same as we used originally on the Flow sensor model that you sent me. If there are dimensional errors, it's likely printing.

[2020-07-30 23:36] jgrano commented on #100
@mechatroniks-git 22M port is not ISO-5356 compliant same issue as on the shutoff valve.

Unit is split up and no longer going to have some of the same manufacturing issues.

[2020-07-30 23:44] jgrano commented on #100
https://github.com/tetrabiodistributed/project-tetra/blob/master/02_Development/Prototype_release/Alpha/Parts_to_print/P-TET-000023-1.stl - Normal

[2020-07-31 01:22] mechatroniks-git commented on #67
@hydronics2
Can we add a parallel cap on the IC? Datasheet calls for .1 and 1uF. Also, add a pullup on SDA1. Thanks

![image](https://user-images.githubusercontent.com/57600622/88989867-7435df80-d291-11ea-9405-2fa514acc1b4.png)

[2020-07-31 01:31] mechatroniks-git commented on #97
Printing

[2020-07-31 01:54] #103 closed

[2020-07-31 02:36] jgrano commented on #98
https://github.com/tetrabiodistributed/project-tetra/blob/master/02_Development/Prototype_release/Alpha/Parts_to_print/P-TET-000019-2.stl

[2020-07-31 17:00] mechatroniks-git commented on #104
Comparing the sensirion 22M to the shutoff valve (P-TET-00018-0) port, with a 22F/22F coupler, the sensirion fits snugly and seals. The valve body bottoms out without sealing
![image](https://user-images.githubusercontent.com/57600622/89058619-73925d00-d314-11ea-8f10-db7415ca8217.png)

Same with the clear body
![image](https://user-images.githubusercontent.com/57600622/89058763-c2d88d80-d314-11ea-

[2020-07-31 17:17] mechatroniks-git commented on #104
Measurements:
![image](https://user-images.githubusercontent.com/57600622/89059874-d84eb700-d316-11ea-8e48-4285a75fd551.png)

[2020-07-31 17:24] mechatroniks-git commented on #104
@jgrano Checking the Sensirion model, it appears to match the ISO Spec pretty well. So the part I'm measuring might have some shrinkage from the injection molding process. I remeasured the sensor with my better calipers, got 22.29mm

![image](https://user-images.githubusercontent.com/57600622/89060342-b99cf000-d317-11ea-9de8-d5a7b4efbf9a.png)

[2020-07-31 17:29] mechatroniks-git commented on #95
@Judoguy12 I updated the template
- Replaced logo with a image with transparent background I created. (@thehannahfink, do you have a set of PNGs with high resolution and transparent backgrounds?)
- Added units, tolerances and 3rd angle projection box

todo:
Look at replacing the font with Helvitica Bold?
update notes
add open source license info?

[2020-07-31 17:59] Burhan-Q commented on #98
@DHHwangPhD ready for testing, please comment when print has started

[2020-07-31 18:00] Burhan-Q commented on #99
@DHHwangPhD please comment when printing has started

[2020-07-31 18:24] hydronics2 commented on #67
@mechatroniks-git I made the changes... why only a pull-up on the SDA line and not an SCL line? .... never mind, I see it on the TI data sheet now.  The crazy thing about the TI data sheet is it shows no pullups on the SCL line!... I think I got everything I need Patrick.. I'll add a few pull-ups and we can either populate them or not.
![image](https://user-images.githubusercontent.com/3589948/890

[2020-07-31 18:31] Burhan-Q commented on #110
@jgrano @mechatroniks-git @DHHwangPhD

Please check this out and comment with your thoughts about using this format for tracking the print queue

[2020-07-31 18:31] Burhan-Q commented on #110
@chrismolinari456

[2020-07-31 18:34] Burhan-Q commented on #108
@DHHwangPhD have any input on which direction we should go? I'm thinking a normal CA super glue might make the most sense for now.

[2020-07-31 18:51] professor-nimrod commented on #110
I'm a bit confused; will this be a separate project board that will have all of our names and the parts? Or does the issue itself support a drag/ drop interface?
I like the shift personally; it keeps everything in one place and cards are easier to edit/ move than cells of text

[2020-07-31 19:02] Burhan-Q commented on #110
Yes it does, if you hover over one of the checkboxes, you should see 3 horizontal bars pop up on the left, you can click and drag those (if you do, please move it back so others see the original)

[2020-07-31 20:13] hydronics2 commented on #67
@mechatroniks-git @fpdotmonkey @Burhan-Q  I submitted a pull-request. Here are the files. https://github.com/hydronics2/project-tetra/tree/master/02_Development/FlowMeter/Sensirion_connector_board
I estimated the pogo pin distance in the step file. The pogo pins stick out 5mm (0.197") from the board and the stroke is 1.39mm (0.055").
![image](https://user-images.githubusercontent.com/3589948/89073

[2020-07-31 20:45] professor-nimrod commented on #110
Just checked it out on a test repo and it seems to work pretty well, but for some reason I can't edit it here. Maybe because I haven't done contributed to the main repo

[2020-07-31 20:50] DHHwangPhD commented on #110
This works for me.

[2020-08-01 00:01] fpdotmonkey commented on #67
@Burhan-Q @hydronics2 ping me on slack when you have the board and the clip ready for me to print

[2020-08-01 01:02] hydronics2 commented on #67
I posted a step file tin the link above. Check it out and see what you think.

[2020-08-01 01:19] fpdotmonkey commented on #67
@hydronics2 in application, are the header pins in the model you posted going to be replaced by the sprung pins like what Patrick suggested?

[2020-08-01 02:13] hydronics2 commented on #67
Yes that's right. I put some header pins in their and tried to size them to 5mm to represent the pogo pins that will stick out 5mm from the board according tonl the data sheet I referenced (uncompressed)

[2020-08-01 07:33] fpdotmonkey commented on #67
@Burhan-Q so I tried filing out that fillet, and that didn't do anything.  However, I bent it a little so the internal angle on it is a bit smaller, and now the fit is a bit better.

[2020-08-01 07:34] fpdotmonkey commented on #67
It basically looks like the cross section picture you sent me, so I think it's good.  Time to add a feature for the terminal block to go through I suppose.

[2020-08-01 17:01] Burhan-Q commented on #110
Hm, maybe double check with @capsulecorplab on permissions?

[2020-08-01 17:03] Burhan-Q commented on #110
Moving to Blocked. Still waiting on feedback from @mechatroniks-git @mmroden and @jgrano; looking for Go/No-Go to use instead of printer spreadsheet and/or recommendations if lacking any features

[2020-08-01 18:19] jgrano commented on #105
Had a print fail last night. Starting again today.

[2020-08-01 20:28] Burhan-Q commented on #108
Spoke with @DHHwangPhD. Determined 2 means for adhering resin parts to keep air tight:

Primary: Attach with printer resin and cure with handheld UV light
Secondary: Attach using 5 minute epoxy

Darryl has UV light on order, but not likely to arrive in time for Alpha prototype assembly. @mechatroniks-git do you have or could you obtain 5 minute epoxy for assembly?

[2020-08-01 20:40] Burhan-Q commented on #104
As of today. @DHHwangPhD printed part and is curing. Will deliver to @mechatroniks-git as soon as possible

[2020-08-01 20:40] Burhan-Q commented on #99
As of today. @DHHwangPhD printed part and is curing. Will deliver to @mechatroniks-git as soon as possible

[2020-08-01 20:41] Burhan-Q commented on #100
As of today. @DHHwangPhD printed part[ P-TET-000028](https://github.com/tetrabiodistributed/project-tetra/blob/master/02_Development/Prototype_release/Alpha/Parts_to_print/P-TET-000028-0.stl) and at present is curing. Will deliver to @mechatroniks-git as soon as possible

[2020-08-01 20:43] Burhan-Q commented on #67
Moved to Blocked. See notes [here](https://github.com/tetrabiodistributed/project-tetra/pull/111#issuecomment-667583686).
PCB revision required to address issue shown in image
@fpdotmonkey @hydronics2

![image](https://user-images.githubusercontent.com/62214284/89110173-0e269500-d416-11ea-94ff-2137876fbb6c.png)

[2020-08-01 22:37] hydronics2 commented on #67
haha.. that's funny. I didn't move that part I swear.... but I can certainly move it outboard as many mm as necessary... say start with 5mm?

[2020-08-03 14:59] mechatroniks-git commented on #108
@Burhan-Q I have a few 2-part epoxy options

[2020-08-03 15:10] mechatroniks-git commented on #67
We have a mystery to solve, last I left it, the connectors were 8.43mm (center to center distance from the row).  Pushing it out 5mm would work, give me the center to center distance, and I can check.

![image](https://user-images.githubusercontent.com/57600622/89197004-e5aab200-d55f-11ea-8c9d-7282005a6488.png)

[2020-08-03 15:24] Burhan-Q commented on #108
Excellent @mechatroniks-git, thank you. Do you think we're ready to close this issue?

[2020-08-03 15:44] Burhan-Q commented on #67
Perhaps it's the spacing from the front edge of the board to the phoenix connector thru holes? [both measurements captured in Fusion, from 'front face' of board to center of thru hole]

@mechatroniks-git board measurement **{M}**
![image](https://user-images.githubusercontent.com/62214284/89200335-dd616f80-d57d-11ea-8664-a2a1d03473c1.png)

@hydronics2  board measurement **{H}**
![image](https://us

[2020-08-03 17:01] Burhan-Q commented on #67
@fpdotmonkey do you mean that I should decrease the angle of the clip section like this?
![image](https://user-images.githubusercontent.com/62214284/89207876-747ff480-d589-11ea-9a1e-ff57f1939008.png)

[2020-08-03 17:07] Judoguy12 commented on #95
Ready for review @jgrano 3/8/2020

[2020-08-03 17:54] hydronics2 commented on #67
@mechatroniks-git @Burhan-Q  So it looks like the pogo pins are fine but the large connector exact position needs to be resolved. I can put it wherever it needs to be. This is the latest revision...
![image](https://user-images.githubusercontent.com/3589948/89212106-c0c23900-d577-11ea-9dfb-40974f244fe1.png)

[2020-08-03 18:12] #108 closed

[2020-08-03 18:41] mechatroniks-git opened #112 "A-TET-001004 Tetra PCB Assembly 5V Regulator Issue"
Board serial # 00 is not outputting 5VDC

[2020-08-03 18:42] mechatroniks-git commented on #112
https://github.com/tetrabiodistributed/project-tetra/tree/master/02_Development/FlowMeter/RPi%20Board

Datasheet: http://www.xlsemi.com/datasheet/XL4015%20datasheet.pdf

[2020-08-03 19:10] hydronics2 commented on #112
@mechatroniks-git I just reviewed the pinout and reference schematic. The pinout is correct. All the parts seem placed as shown. I am missing this cap on the FB line. (33nf)
![image](https://user-images.githubusercontent.com/3589948/89218046-2d423580-d582-11ea-8782-f529c7ebe731.png)

[2020-08-03 19:22] Burhan-Q opened #113 "Sensirion control PCB adjustments"
Phoenix connector needs to move inboard to avoid issues with mounting to Sensirion sensor.
Needed for Issue #67

### Current distance (center to center):
Phoenix pins to pogo pins = 9.705mm
Phoenix pins to board face = 6.721mm

### Constraints:
Distance pogo pins to front of sensirion cut out = 9.597mm - 0.862mm = 8.735mm [bumpouts on inside of Sensirion cutout]
Phoenix connector to control board

[2020-08-03 19:23] Burhan-Q commented on #113
Uploaded these to Slack, but also posting them here
[STEP_files_requested.zip](https://github.com/tetrabiodistributed/project-tetra/files/5018030/STEP_files_requested.zip)

[2020-08-03 19:24] mechatroniks-git commented on #95
Title block needs help, logo looks rough, @thehannahfink can we do SVG art? [Fusion ](https://knowledge.autodesk.com/support/fusion-360/learn-explore/caas/sfdcarticles/sfdcarticles/How-to-import-SVG-files-in-Fusion-360.html)allows it to be added.
![image](https://user-images.githubusercontent.com/57600622/89218870-a2fad100-d583-11ea-9f8e-4c4bd76e0052.png)
![image](https://user-images.githubusercon

[2020-08-03 19:28] Burhan-Q commented on #113
### Pogo pins and phoenix connector pins
Center to center distance on @mechatroniks-git board model = 8.43mm
![image](https://user-images.githubusercontent.com/62214284/89219354-9d11e980-d59d-11ea-88a5-67277ae087ab.png)

### Phoenix connector pins to board face
Center to face distance = 8.00mm
![image](https://user-images.githubusercontent.com/62214284/89219539-f2e69180-d59d-11ea-9514-66ed4b64c2c1

[2020-08-03 19:29] Burhan-Q commented on #67
Blocked by #113

- [ ] adjust position of phoenix connector pins

[2020-08-03 20:06] hydronics2 commented on #112
I figured it out I think... they installed the diode in backwards... The orientation was correct when I reviewed it online but something must have happened at the boardshop...!  I'll get it swapped around and see what happens...
![image](https://user-images.githubusercontent.com/3589948/89222596-291a1600-d58a-11ea-980b-458f47cebb68.png)

[2020-08-03 20:09] Judoguy12 commented on #95
@mechatroniks-git Fusion would not allow the SVG to be added I had to convert to transparent PNG

[2020-08-03 20:17] Judoguy12 commented on #95
@mechatroniks-git fixed address appearing

[2020-08-03 20:21] hydronics2 commented on #112
Ok... we got 5V! woohoo...  I turned the diode around and added a 33nF cap along side the 10K resistor (not sure if the cap is 100% necessary but following the data sheet)
![image](https://user-images.githubusercontent.com/3589948/89223588-e5281080-d58b-11ea-98f9-1c28c1b8d2f6.png)

notice I made the jumper... so now you have 5V LED lit and the RPI 5V LED lit.... + the 12V LED lit...so that's 3 ind

[2020-08-04 05:15] fpdotmonkey commented on #67
@Burhan-Q the design for the clip is good no need to change it

[2020-08-04 06:49] hydronics2 commented on #113
@Burhan-Q ... created a pull request with the new files. thanks for the pics!... and that fusion 360 model is worth a 1000 words.

[2020-08-04 19:21] mechatroniks-git opened #115 "P-TET-000020 Tetra Shutoff Valve Cap needs clearance"
Valve cap needs following tweaks
- [ ] Clearance to fit onto valve body P-TET-000023 & P-TET-000018
- [ ] Clearance to fit over the P-TET-000019 without binding
- [ ] Clearance to allow P-TET-000021 to freely rotate

Some of this may be due to printing imperfections, but the design should easily accommodate imperfect printing while allowing functionality.

![image](https://user-images.githubuserco

[2020-08-04 19:25] jgrano commented on #115
@mechatroniks-git did you pull the part from the spread sheet or the main model? I uploaded the parts, printed on high resolution on a taz5 with abs and it went together smoothly for me.

[2020-08-04 19:27] mechatroniks-git commented on #98
Part fits knob much better, nut capture is good also. O-ring compression is too much. Need to revise. Currently it is a 2mm o-ring compressed 35%. We should try 10% compression. See https://www.marcorubber.com/o-ring-groove-design-considerations.htm

![image](https://user-images.githubusercontent.com/57600622/89336174-d3a73d00-d64d-11ea-80af-44b4d1fe30b5.png)

Also, not sure we can do much about i

[2020-08-04 19:34] mechatroniks-git commented on #97
The knob appears to fit to P-TET-000019 Shutoff Valve Thru Body pretty well. Need to adjust P-TET-000020 to allow for clearance when spinning.

[2020-08-04 19:34] #97 closed

[2020-08-04 19:43] mechatroniks-git commented on #112
Spun the diode and added a 10nF cap (didn't have 33nF), getting 5V

![image](https://user-images.githubusercontent.com/57600622/89337627-166a1480-d650-11ea-92f7-73557ed57eae.png)

[2020-08-04 19:43] #112 closed

[2020-08-04 20:03] Burhan-Q commented on #104
@mechatroniks-git and/or @jgrano please review update to Tetra valve female coupler (P-TET-000028 version) located in Tetra Valve Fusion folder

Opening diameter = 22.4mm
Length = 21mm (minimum spec)
End taper diameter = 21.8mm
Taper angle ~ 1.637 deg [full]

Did not remove sharp edge as I'm unsure if it will be an issue. Added fillets to aid transition regions

[2020-08-04 20:33] Burhan-Q commented on #115
@mechatroniks-git something weird is happening the assembly model when you open it. The handle is positioned as such when first opened (like in your image above)
![image](https://user-images.githubusercontent.com/62214284/89341740-c3a05500-d66f-11ea-832a-f60575e9a0c6.png)

But this position is incorrect, and if you move the handle with a click and drag, you'll notice the cap flips to the correct o

[2020-08-04 21:11] mechatroniks-git commented on #115
I've only printed the -0 part.

The latest knob has a max dia of 21.57 - 21.54, depending on the measuring spot. The design is 21.50, so I'm a bit oversized, but well within tolerance.

![image](https://user-images.githubusercontent.com/57600622/89345034-ad889980-d65b-11ea-8d5f-ab7a77853cdd.png)

The  mating part is also at 21.50, and should be 21.7. I can adjust the design and print.

![image](ht

[2020-08-04 21:31] mechatroniks-git commented on #115
Printing this one now
![image](https://user-images.githubusercontent.com/57600622/89347195-289f7f00-d65f-11ea-8e89-4bd2202da0b2.png)

I gave it a bit more clearance, 21.9, my printer doesn't hold tight tolerances.

[2020-08-04 21:42] Burhan-Q commented on #115
@mechatroniks-git should this issue get updated to Testing?

[2020-08-04 22:21] mechatroniks-git commented on #115
The -2 part feels good to me. Little bit of vertical play in the valve assembly, maybe .3mm, but probably acceptable.

I think testing is done, ready for review @Burhan-Q

![image](https://user-images.githubusercontent.com/57600622/89350987-ee85ab80-d665-11ea-971f-93b52be0500f.png)

[2020-08-04 23:01] capsulecorplab commented on #95
@mechatroniks-git copyright notice looks good!

[2020-08-04 23:14] Burhan-Q commented on #115
@mechatroniks-git looks like you accomplished the two items above (based on your most recent comment). Not sure if there was a typo on the first bullet point P-TET-000023 is the Tetra valve and is not related to the shutoff valve cap, assuming you meant the shutoff valve body and knob P-TET000018 and P-TET-000021 respectively.

All else looks good, expect the filename needs to be updated to match

[2020-08-04 23:25] jgrano commented on #115
Looks awesome guys

[2020-08-05 00:18] mechatroniks-git commented on #98
Reduced o-ring groove ID such that o-ring compression is 10%, not 35%. Should make it easier (possible) to assemble.

Bumped part number embossed on part to P-TET-000019-3

![image](https://user-images.githubusercontent.com/57600622/89357834-7f648300-d676-11ea-936e-6442512f8330.png)

Ready to print & test

[2020-08-05 00:38] mechatroniks-git commented on #95
@Judoguy12 we need to place our web address somewhere

[2020-08-05 06:41] capsulecorplab commented on #62
Reopening, since display code still technically subsides in https://github.com/tetrabiodistributed/project-tetra/tree/master/02_Development/Display

[2020-08-05 13:12] Burhan-Q commented on #115
Closing ticket

[2020-08-05 13:23] Burhan-Q commented on #100
@mechatroniks-git if you could review P-TET-000028 (this is the version with the outlet steps) when you have a chance for the ISO fittings, I can export the STL to @DHHwangPhD for test printing once I get the green light from you

[2020-08-05 13:24] Burhan-Q commented on #100
Tetra valve female coupler (P-TET-000028 version) located in Tetra Valve Fusion folder

Opening diameter = 22.4mm
Length = 21mm (minimum spec)
End taper diameter = 21.8mm
Taper angle ~ 1.637 deg [full]

Did not remove sharp edge as I'm unsure if it will be an issue. Added fillets to aid transition regions

[2020-08-05 16:51] Burhan-Q commented on #67
@fpdotmonkey clip updated with cut out for PCB. Ready for testing

[P-TET-000027-0.zip](https://github.com/tetrabiodistributed/project-tetra/files/5029886/P-TET-000027-0.zip)
![image](https://user-images.githubusercontent.com/62214284/89440902-54cc0600-d71a-11ea-8652-2fca1b364fcf.png)

[2020-08-05 16:53] Burhan-Q commented on #67
@fpdotmonkey please move to card to Testing bucket on project board and add Testing Label to the Issue once you begin printing.

[2020-08-05 17:36] Burhan-Q commented on #104
Added revolve on both ports to conform to ISO standard with 1.432-degree taper angle from 22.2mm to 22.37mm over 15mm

@jgrano and/or @mechatroniks-git please review design and give 👍 if I'm okay to send this to @DHHwangPhD for test printing.

![image](https://user-images.githubusercontent.com/62214284/89444940-7af4a480-d720-11ea-9b66-09e8058fab06.png)

[2020-08-05 17:43] Burhan-Q commented on #115
Reopened since file needs to be added to repo. Moved "Closed" bucket on Project board since work is complete otherwise

[2020-08-05 17:44] mmroden commented on #115
if the file isn't in the repo, then the ticket is not closable.

On Wed, Aug 5, 2020 at 10:43 AM Burhan <notifications@github.com> wrote:

[2020-08-05 18:16] Judoguy12 commented on #95
@mechatroniks-git Is that better or shall i remove the company name above the web address
![image](https://user-images.githubusercontent.com/30008485/89448891-2b2dd180-d750-11ea-866c-0de5245d2199.png)

[2020-08-05 19:05] Burhan-Q commented on #110
As per discussion from meeting August 5, 2020; we will continue using the [Google Sheets document](https://docs.google.com/spreadsheets/d/1FWTYRxglWDqIK_xI6HlBGKUegICQRsXe5NHCJTlTlHs/edit#gid=180162121&range=A3) for print tracking.
@capsulecorplab or @mmroden should this Issue be closed? Or should I Label this as "Stale"?

[2020-08-05 19:09] mechatroniks-git commented on #87
Can we make these parts the same? Also, the diameter of each of these is different?

![image](https://user-images.githubusercontent.com/57600622/89453708-84780f80-d714-11ea-8c4f-63717144516b.png)

[2020-08-05 19:19] Burhan-Q opened #118 "A-TET-001014 Expiratory Support mount Design Change"
Can we make these parts the same? Also, the diameter of each of these is different?

![image](https://user-images.githubusercontent.com/57600622/89453708-84780f80-d714-11ea-8c4f-63717144516b.png)

_Originally posted by @mechatroniks-git in https://github.com/tetrabiodistributed/project-tetra/issues/87#issuecomment-669414512_

[2020-08-05 19:22] Burhan-Q commented on #96
Issue can be closed when #80 is complete and ready for pull request

[2020-08-05 19:22] mechatroniks-git commented on #95
The TETRA BIO DISTRIBUTED is redundant and doesn't match the style guidelines, so best to remove that
The unnecessary blank-space above & below the logo/name should be eliminated.
Maybe swap the logo with the website or combine them in 1 box?

[2020-08-05 19:44] mechatroniks-git commented on #100
@Burhan-Q ![image](https://user-images.githubusercontent.com/57600622/89456715-213cac00-d719-11ea-8a53-8729c5c6dcc1.png)
Opening diameter is 22.37, not 22.40
Taper is 1.43deg = atan(1/40), not 1.637deg
Here is ISO Spec: https://www.iso.org/obp/ui#iso:std:iso:5356:-1:ed-4:v1:en

[2020-08-05 19:52] mechatroniks-git commented on #100
On this one, the taper is too short. The diameter at 15mm is correct (22.37mm), so need to extend the taper back another 6.5mm
![image](https://user-images.githubusercontent.com/57600622/89457384-2817ee80-d71a-11ea-8c8b-2addf8952320.png)

Also, fillet this edge so it's not sharp
![image](https://user-images.githubusercontent.com/57600622/89457600-79c07900-d71a-11ea-8f21-4f7eaa012c9b.png)

[2020-08-05 19:55] mechatroniks-git commented on #100
taper angle is wrong
![image](https://user-images.githubusercontent.com/57600622/89457819-d885f280-d71a-11ea-8c7e-71241f138bb3.png)

[2020-08-05 20:48] mechatroniks-git commented on #100
Nuts are 7mm nominal, measuring 6.9mm, and the opening is 7.5mm, I'd reduce it to 7.1mm
![image](https://user-images.githubusercontent.com/57600622/89462495-56013100-d722-11ea-9367-815a1a991bf1.png)

[2020-08-05 21:34] fpdotmonkey commented on #67
First print of the clip didnt turn out so well. The hook that grabs the ledge nearest the PCB broke off while i was removing support material. Im going to try printing it with the PCB face down to see if that helps at all![image](https://user-images.githubusercontent.com/3139615/89466457-be531100-d728-11ea-8901-9acf09aa0a89.jpeg)

[2020-08-05 22:12] fpdotmonkey commented on #67
This is how I'm orienting the next print
![image](https://user-images.githubusercontent.com/3139615/89469354-1c362780-d72e-11ea-9b36-c12f9036c70c.png)

[2020-08-05 22:13] fpdotmonkey commented on #67
The previous print was just like this one, but on the other outer face of the clip

[2020-08-05 22:29] Burhan-Q commented on #104
Feedback from @mechatroniks-git on this part

https://github.com/tetrabiodistributed/project-tetra/issues/100#issuecomment-669461211
https://github.com/tetrabiodistributed/project-tetra/issues/100#issuecomment-669462750
https://github.com/tetrabiodistributed/project-tetra/issues/100#issuecomment-669500081

[2020-08-05 22:35] Burhan-Q commented on #104
@mechatroniks-git per the ISO spec, the 22.37mm diameter dimension for the male insert is to be at 15mm (unless I'm misreading the spec or unclear on the change needed here). Additionally, your comment from earlier on this Issue shows the same distance measurement.
![image](https://user-images.githubusercontent.com/62214284/89470597-282fe280-d74a-11ea-8f7f-083a58fccaa0.png)

Previous comment from

[2020-08-05 22:56] Burhan-Q commented on #104
@mechatroniks-git it looks like the measurement point is in the wrong spot
![image](https://user-images.githubusercontent.com/62214284/89470954-f8350f00-d74a-11ea-8a93-f9b726235a60.png)

When I measure to the outside, I get 0.707-degrees which is still not half of 1.432-degrees (1.414-degrees), but it's quite close and again I was following the instructions you laid out above. I can reduce the out

[2020-08-05 23:04] fpdotmonkey commented on #67
Ok so the connector is nominally working!! The clip connects to the sensor perfectly, and the PCB slides right in. That said, i feel like its really easy to break the PCB-side hook while removing support, and the features for retaining the PCB didnt resolve super well in the print. ![image](https://user-images.githubusercontent.com/3139615/89472425-3fb0a080-d735-11ea-8742-13364c7a86fb.jpeg)

[2020-08-05 23:06] fpdotmonkey commented on #67
Also, the clip has a good bit of slop along the sensor's axis (~.075").  I'm concerned that this could cause a short between pins.

[2020-08-05 23:17] #113 closed

[2020-08-05 23:40] fpdotmonkey commented on #67
It also only takes a hair of pressure to remove the PCB.  Granted we'll see how hard it is to inert and remove when we have the actual board, but I think an iteration before then could be good

[2020-08-05 23:41] Burhan-Q commented on #67
@fpdotmonkey could you get me two photos of the extremes of the motion you're seeing, with the Sensirion facing the other direction? I'd looking to see how the harness is moving relative to this feature
![image](https://user-images.githubusercontent.com/62214284/89474435-9dec7c00-d753-11ea-8e27-39fbbb9a1f77.png)

[2020-08-05 23:48] fpdotmonkey commented on #67
Full right ![image](https://user-images.githubusercontent.com/3139615/89474861-9a4cfb00-d73b-11ea-9350-540557cc492d.jpeg)
Full left ![image](https://user-images.githubusercontent.com/3139615/89474869-a1740900-d73b-11ea-8a33-fa50baafcd0c.jpeg)

[2020-08-05 23:50] fpdotmonkey commented on #67
You can most easily see the difference looking at the right edge of the clip.  I measured the displacement to about .075"

[2020-08-05 23:59] Burhan-Q commented on #67
@fpdotmonkey What's the inside distance you measure on the Sensirion here?
![image](https://user-images.githubusercontent.com/62214284/89475455-1ce2b400-d756-11ea-9209-a2b70a3e8ec3.png)

[2020-08-06 00:17] Burhan-Q commented on #100
Tetra valve updates. Not sure how to redo outlet valve as single part without breaking geometry.

![image](https://user-images.githubusercontent.com/62214284/89476293-55838d00-d758-11ea-8b36-5938777debe5.png)
![image](https://user-images.githubusercontent.com/62214284/89476301-5ae0d780-d758-11ea-9389-573fa215c3c2.png)
![image](https://user-images.githubusercontent.com/62214284/89476330-6f24d480-d7

[2020-08-06 00:37] Burhan-Q commented on #104
Shutoff valve updates
Taper now extends the entire length of ports
![image](https://user-images.githubusercontent.com/62214284/89476990-18b89580-d75a-11ea-99c2-b9b33ac9c7c7.png)

Nut capture openings now reduced to 7.1mm and added 0.3mm fillets
![image](https://user-images.githubusercontent.com/62214284/89477515-7a2d3400-d75b-11ea-8e2e-9f88628cc2e1.png)

[2020-08-06 02:58] hydronics2 commented on #67
@fpdotmonkey @Burhan-Q  should I order the PCB?

Also Fletcher, just checking but you have the mating phoenix phoenix connector... maybe do a quick visual inspection to make sure it plugs in; that is,  the female connector can mate with the PCB-male-phoenix connector. make sense?

[2020-08-06 08:44] Judoguy12 commented on #95
Is this better?

![image](https://user-images.githubusercontent.com/30008485/89511122-63bdc180-d7c9-11ea-80e6-cc39953e74c4.png)

[2020-08-06 08:51] Judoguy12 commented on #118
Done @Burhan-Q

[2020-08-06 14:16] thehannahfink commented on #95
[There is a version on GitHub with just the logo and no title](https://github.com/tetrabiodistributed/tetrabiodistributed.github.io/blob/dev/assets/logo/black/tetra_logo_black_100_x_100_px.svg) if that's the logo version you want. The website should be all on one line, so maybe make the font size small enough to fit without a line break. I liked the website better on far-right column. Should be un

[2020-08-06 16:20] mechatroniks-git commented on #100
@Burhan-Q P-TET-000028 tweaked & reviewed, ready for test print.

[2020-08-06 17:14] mechatroniks-git commented on #99
P-TET-000022 is now replaced by A-TET-000018, ready for review
![image](https://user-images.githubusercontent.com/57600622/89561519-776b2700-d7cd-11ea-901c-9e1391bad2b0.png)

[2020-08-06 17:15] mechatroniks-git commented on #99
I would advise holding off on printing the part until we can review print from 5 days ago

[2020-08-06 19:30] Burhan-Q commented on #99
We can hold off, but I recall @DHHwangPhD saying that the last print didn't go well (which is why this change was made by @jgrano). I'll double check with him to see how he wants to proceed with this part.

[2020-08-06 19:38] capsulecorplab commented on #110
I would close it, commenting it as stale or archived

[2020-08-06 20:44] fpdotmonkey commented on #67
@hydronics2 yes order the PCB

[2020-08-06 20:44] Burhan-Q commented on #99
@mechatroniks-git I spoke with @DHHwangPhD and he said that the previous model did not work and would like to print this version. I did a quick review and thing appear okay. I'm going to share the new cap design with him as well as the Tetra valve body #100 part for testing.

Per FormLabs post about threaded inserts for resin prints, they say that the inserts should go in before curing. Of course

[2020-08-06 20:45] fpdotmonkey commented on #67
@Burhan-Q that distance is .727" or 18.47mm

[2020-08-06 20:47] Burhan-Q commented on #100
@DHHwangPhD ready for print testing. Please comment when you've started printing.

[P-TET-000028-1.zip](https://github.com/tetrabiodistributed/project-tetra/files/5037885/P-TET-000028-1.zip)

[2020-08-06 20:53] Burhan-Q commented on #99
@DHHwangPhD ready for print testing. Please comment when you've started printing.

Plunger
[P-TET-000030-0.zip](https://github.com/tetrabiodistributed/project-tetra/files/5037913/P-TET-000030-0.zip)

Cap
[P-TET-000031-0.zip](https://github.com/tetrabiodistributed/project-tetra/files/5037914/P-TET-000031-0.zip)

[2020-08-06 21:01] hydronics2 commented on #67
OK, PCB is ordered. thanks, thomas
Don't forget to order the pogo pins.
https://www.digikey.com/product-detail/en/mill-max-manufacturing-corp/821-22-004-10-002101/ED8199-04-ND/1146641

[2020-08-06 21:54] Burhan-Q commented on #67
So I can tighten this up some if need be. I didn't know the exact spacing so I left 0.9mm clearance overall (which is about half the amount of movement you're seeing). The contact pads (on the Sensirion model) are 2.3 mm wide and have 0.24 mm gap between them, so I'll lower the spacing to 0.5mm and that should avoid any chance of a short between pins.

### Sensirion SFM3300-D model ###
![image](ht

[2020-08-06 23:08] Burhan-Q commented on #110
stale or archived

[2020-08-06 23:08] #110 closed

[2020-08-07 01:24] fpdotmonkey commented on #67
For the print, I used Hatchbox white PLA.  The spool is a few years old; idk if the material quality degrades over time.

For settings, I had the temps set to 225 end/80 plate, the "standard quality" template on Cura, and the retract speed set to 45mm/s

If there's a way to save out the entire settings file, I'd be happy to do that, but a quick search didn't yield me that result.

[2020-08-07 14:24] Burhan-Q commented on #67
I believe it will if not humidity controlled

Those temps seem quite high (to me), I also use Hatchbox PLA and print at 200/50 w/ default retraction speed

Would be one of the 2 CFG files found in this directory (Win10), not all settings are included, my settings for the print are shown at the bottom. You can also pull the settings from the GCODE file as well, I made a [PowerShell script](https://

[2020-08-07 18:25] mechatroniks-git commented on #104
@Burhan-Q unless we have a good reason, we should strive to meet the ISO spec with a 1.432 deg taper, instead of 1.414.

[2020-08-07 18:31] mechatroniks-git commented on #98
design updated to -3, ready for review @Burhan-Q

[2020-08-07 18:33] mechatroniks-git commented on #64
Ready to test part when handoff is made

[2020-08-07 18:35] Burhan-Q commented on #64
@mmroden will you be able to get this part to @mechatroniks-git before/by next week? If not, recommend we move this ticket to Blocked (if there is no reply, I will move the ticket after 24 hours)

[2020-08-07 18:38] mechatroniks-git commented on #71
Exploded view looks good
![image](https://user-images.githubusercontent.com/57600622/89677522-72c47280-d8a2-11ea-9792-7e4364ccaeea.png)

[2020-08-07 18:38] #71 closed

[2020-08-07 18:43] mechatroniks-git commented on #87
Fusion search for 001014 not coming up with any results, need to pull this subassembly out of the main assembly

[2020-08-07 18:47] Burhan-Q opened #119 "Verify new pressure sensor assembly fits inside housing A-TET-001017"
New pressure sensor communication PCB #113 & #114 and wiring harness #67 needs to be checked for clearances in full assembly model.

- [ ] import new pressure sensor assembly A-TET-001017 to Alpha prototype assembly
- [ ] join A-TET-001017 with piping in correct location(s)
- [ ] verify that A-TET-001017 doesn't interfere with other components or creates other assembly or usability issues

Assignm

[2020-08-07 19:16] Burhan-Q opened #120 "Review parts for Alpha prototype"
All parts, components, and assemblies need to be reviewed and verified as ready

- [ ] List parts not yet produced in comment below, include issue number where applicable, provide additional details as needed
- [ ] List parts still being revised in comment below, include issue number where applicable, provide additional details as needed
- [ ] Verify that all off-the-shelf components have been ord

[2020-08-07 19:16] Burhan-Q commented on #120
## Parts not yet made: ##

- [ ] P-TET-000025-0 **Inspiratory bias**
    - [x] part development work in progress
    - [ ] ready to print 🤷 [STATUS UNKNOWN]
    - [ ] sent for print testing
    - [ ] ready for release
- [ ] P-TET-000026-0 **Expiratory bias**
    - [x] part development work in progress
    - [ ] ready to print 🤷 [STATUS UNKNOWN]
    - [ ] sent for print testing
    - [ ] ready for

[2020-08-07 19:16] Burhan-Q commented on #120
## Parts under revision: ##

- [ ] P-TET-000030 **Tetra valve core** #99
    - [x] part development work in progress
    - [x] ready to print
    - [x] sent for print testing
    - [ ] ready for release
- [ ] P-TET-000031 **Tetra valve knob** #99
    - [x] part development work in progress
    - [x] ready to print
    - [x] sent for print testing
    - [ ] ready for release
- [ ] P-TET-000027 **Se

[2020-08-07 19:17] Burhan-Q commented on #120
## Missing off-the-shelf-parts: ##
- [ ]

[2020-08-07 20:43] Burhan-Q commented on #104
@mechatroniks-git I have no good rationale for keeping the larger angle. I've been focused the design updates primarily from the diameters for the locations, but since we last spoke I am more aware that the standard is more concerned with the taper than diameters. I will make this adjustment

[2020-08-07 21:08] Burhan-Q commented on #98
![image](https://user-images.githubusercontent.com/62214284/89688309-e03ac800-d8cf-11ea-92ca-623704c53c1c.png)
I'm seeing the change as 1.90 mm (5% of 2mm o-ring). If this is still okay, then I think this part looks good.

General note for main body vs thru body nut capture dimensions, request was to reduce main body nut capture to 7.1 mm [here](https://github.com/tetrabiodistributed/project-tetra

[2020-08-07 21:10] Burhan-Q commented on #98
@jgrano @Judoguy12
Ready for approval for whoever is available. Please self assign this issue if you're able to Approve

[2020-08-07 21:31] Burhan-Q commented on #104
Design updated (v32) for port design to be based on taper angle, feature mirrored to other port.

![image](https://user-images.githubusercontent.com/62214284/89690076-aec3fb80-d8d3-11ea-95e4-7f82fd80d751.png)
![image](https://user-images.githubusercontent.com/62214284/89690087-b388af80-d8d3-11ea-875a-12979d8e079a.png)

[2020-08-07 21:32] mechatroniks-git commented on #98
@Burhan-Q good catch on the oring groove depth. I'm ok to test it with 5% compression on first article

[2020-08-08 18:32] mechatroniks-git commented on #104
@Burhan-Q Looks great, I think we should print one

[2020-08-11 15:01] Burhan-Q commented on #105
@mechatroniks-git and @jgrano, just checking in on this issue. I'm seeing a mismatch in Part Number and Part Name on the title of this issue. According to the [hardware doc](https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit#gid=0&range=B6) P-TET-000005 is the Pressure Manifold (SLA) and P-TET-000006 is the ISO adapter.

I didn't want to make any changes to th

[2020-08-11 15:55] Burhan-Q commented on #119
Clearance to housing enclosure is 2.637 mm. No other interference observed. Assembly may be rotated to assist with other potential collisions (with any parts currently not added to model).

![image](https://user-images.githubusercontent.com/62214284/89919612-7d944580-dbc9-11ea-8597-29d997f7942d.png)

[2020-08-11 21:39] fpdotmonkey commented on #67
Got the board in, but it's wider than we expected. The one I 3D printed is 18.08mm wide, whereas this one is 18.88mm. We'll need to adjust the clip to handle this as presently it doesn't fit at all. @Burhan-Q ![image](https://user-images.githubusercontent.com/3139615/89951478-5a28c500-dbe0-11ea-97f0-0bc4483d5dcb.jpeg)

[2020-08-11 22:34] fpdotmonkey commented on #67
In case it's relevant, the fully extended length of the pogo pins from the top surface of the board is 6.79 mm and the fully retracted length is 5.76mm

[2020-08-11 22:35] fpdotmonkey commented on #67
The big green Pheonix connector is 16.14mm wide, 9.21mm deep, and 7.06mm above the top surface of the board

[2020-08-11 23:37] fpdotmonkey commented on #67
Here's a drawing of the dimensions of the board from the factory + me soldering the pogo pins and pheonix connector on
[Sensirion Connector Board.pdf](https://github.com/tetrabiodistributed/project-tetra/files/5059935/Sensirion.Connector.Board.pdf)

[2020-08-12 15:42] Burhan-Q commented on #67
@fpdotmonkey could you get me the inside dimensions (HxWxD) from the printed harness (height to under the hold downs)? The current model has an inside width of 19.80mm, so it seems there's some significant material shrinkage and knowing what the difference is will be instructive on how to modify the dimensions.

The model I printed measures:
   depth ~ 20.2mm
   height ~1.5mm (overall pcb harness

[2020-08-12 20:00] Burhan-Q commented on #104
@DHHwangPhD, version ready for test printing

[P-TET-000018-2.zip](https://github.com/tetrabiodistributed/project-tetra/files/5065343/P-TET-000018-2.zip)

[2020-08-12 20:03] Burhan-Q commented on #104
Reassigned for test printing. After printing complete, assignment follows whomever has the physical part or goes to anyone agreeing to make design changes (if needed).

[2020-08-13 06:00] fpdotmonkey commented on #67
I'm getting 18.65mm.  I also noticed there was a bit of extra material there from bad printer settings, so I could change my settings to make it better.  But it may also be good to note on the drawing that the slot that the board goes into needs to be clean.

[2020-08-13 15:53] Burhan-Q commented on #67
@fpdotmonkey, since we have essentially the same printer and filament, maybe you could try using my GCODE file to print the same version I did. That way we can narrow down the issue to printer settings or an issue with the printer or filament. I've attached a zip folder with two versions of my GCODE, one with bed mesh leveling, the other without (since I don't know which you use). These were slice

[2020-08-14 01:09] fpdotmonkey commented on #67
So I printed a couple, and the widths of the PCB slot are 18.55mm and 17.84mm.

Other than that, I think the diagonal orientation for the part you're doing is a lot better that the flat one I've been doing.  Way less cleanup and so less risk of breaking the part.  There's also virtually no slop along the sensor's axis and the snap onto the sensor is very clear and satisfying.

[2020-08-14 23:11] fpdotmonkey commented on #67
_If it fits it ships_![image](https://user-images.githubusercontent.com/3139615/90298899-c60d6680-de48-11ea-85f1-af1d52ac0383.jpeg)

[2020-08-14 23:13] fpdotmonkey commented on #67
Things left to do in testing

- [ ] theres a bit of slop now in the sensor axis still. Probably not consequential, but increasing that width a smidge would be nice
- [ ] validate that the electrical connection is good
- [ ] make 4 at once

After all that, I'm ready to say this part passes review

[2020-08-14 23:18] fpdotmonkey commented on #67
Oh also, is the intention for assembling this that the PCB and the clip are put together before the clip is attached to the sensor?  If not, then board doesn't do that.  I think the issue could be that there's a little resistor on the sensor that would block the pogo pin from pushing forward.

[2020-08-15 17:37] Burhan-Q commented on #67
@fpdotmonkey Yes, the aim (as far as I'm aware) would be to put the PCB into the harness and then attach to the sensor. Just to clarify, you're saying that assembling the clip and the PCB control board first, then to the sensor **_is_** possible?

[2020-08-15 18:12] Burhan-Q commented on #67
STL file for P-TET-000027-0
[P-TET-000027-0.zip](https://github.com/tetrabiodistributed/project-tetra/files/5079246/P-TET-000027-0.zip)

[2020-08-15 18:51] Burhan-Q commented on #120
Shared by @mechatroniks-git via slack

- [ ] 1. Rear Port Cover - needs part # and STL to test print. Will need 1 for build.
     (2020-08-14) blocked by bias components, @jgrano will design this once bias is ready

- [x] 2. P-TET-000019 - need to print one of -3 & test. Will need 8 for build.
     (2020-08-14) test version printed and delivered to patrick

- [x] 3. P-TET-000021-2 - need print 8 f

[2020-08-15 19:17] Burhan-Q commented on #67
@fpdotmonkey are the design changes you mentioned critical for this iteration or are they lower priority (pushed out for beta)?

[2020-08-15 19:47] Burhan-Q opened #121 "P-TET-000025 Inspiratory bias"
- [ ] cleanup designs, remodel if needed
- [ ] add part number emboss
- [ ] share STLs for printing
- [ ] print test and review
    @jgrano will print these

[2020-08-15 19:48] Burhan-Q commented on #121
Ready to print
[P-TET-000025-1.zip](https://github.com/tetrabiodistributed/project-tetra/files/5079369/P-TET-000025-1.zip)

[2020-08-15 19:48] Burhan-Q commented on #121
Work completed 2020-08-14; reassign to @jgrano for printing

[2020-08-15 19:50] Burhan-Q opened #122 "P-TET-000026 Expiratory bias"
- [ ] cleanup designs, remodel if needed
- [ ] add part number emboss
- [ ] share STLs for printing
- [ ] print test and review
     @jgrano will print these

[2020-08-15 19:50] Burhan-Q commented on #122
Ready to print
[P-TET-000026-1.zip](https://github.com/tetrabiodistributed/project-tetra/files/5079370/P-TET-000026-1.zip)

[2020-08-15 19:51] Burhan-Q commented on #122
Work completed 2020-08-14; reassign to @jgrano for printing

[2020-08-15 23:37] fpdotmonkey commented on #67
The design change I suggested isn't critical

[2020-08-15 23:38] fpdotmonkey commented on #67
Yes this is possible

[2020-08-17 16:48] Burhan-Q commented on #67
Okay, then I will make a new ticket for these changes and tag them for the beta prototype

@fpdotmonkey Are you willing to act as reviewer for this design since you've got the printed part(s)? You can review the assembly [here](https://a360.co/2DtJcij) on the web.

I will remove myself from the assignment while you're reviewing. Once you have finished your review, comment here with the outcome of

[2020-08-17 20:11] Burhan-Q commented on #98
Latest model milestone
[P-TET-000019-3.zip](https://github.com/tetrabiodistributed/project-tetra/files/5086555/P-TET-000019-3.zip)

[2020-08-17 20:20] Burhan-Q commented on #64
@mmroden delivered to @mechatroniks-git this past weekend. Assigning to @mechatroniks-git for review/approval when available.

[2020-08-17 20:28] Judoguy12 commented on #119
Reviewed 17/08/2020 All changes have been made ready for approval

[2020-08-17 20:48] Burhan-Q commented on #120
UPDATE:

7. P-TET-000027 - need status? Will need 4 for build.
- printer issues resolved, PCB now fits
- @fpdotmonkey to print remaining parts needed to deliver to @mechatroniks-git

 12. P-TET-000025 - needs STL to print. Will need 1 for build
- Shared with @jgrano for printing on August 14

 13. P-TET-000026 - needs STL to print. Will need 1 for build
- Shared with @jgrano for printing August 14

[2020-08-18 18:43] Burhan-Q opened #123 "Create P-TET-000032 Rear port cover"
Relies on completion of #121 and #122 (bias components).

Specifications:
- [ ] conforms to ISO-5356 fitting standard
- [ ] attaches to rear opening on housing (?)

[2020-08-22 18:21] fpdotmonkey commented on #67
Review approved :thumbs-up:

[2020-08-22 18:25] Burhan-Q commented on #67
@mechatroniks-git would you be willing to approve this part? The STL file is in the [comment ](https://github.com/tetrabiodistributed/project-tetra/issues/67#issuecomment-674431327) above and @fpdotmonkey [commented ](https://github.com/tetrabiodistributed/project-tetra/issues/67#issuecomment-674306939)about noncritical changes for the next version

[2020-08-22 20:19] mechatroniks-git commented on #67
P-TET-000027-0 looks good to me. Approved.

[2020-08-24 17:56] Burhan-Q commented on #123
### Update ###
@jgrano created parts and added to assembly, these were sent to @DHHwangPhD for printing with use in the Alpha prototype

### Notes ###
- ISO port adapters for rear panel are using P-TET-000032, need to change descriptor and create new part number (PN) for rear cover; will create new Issue for the new component and document notes there
- O-Ring groove is 1.05 mm deep with seat diame

[2020-08-24 18:13] Judoguy12 commented on #100
@jgrano Can you check if the heat inserts and oring's are added to the tetra valve bit, as they are not showing up in the animation, Jamie

[2020-08-24 18:25] Burhan-Q commented on #122
### Update ###
@Burhan-Q made minor adjustments to prior design, @jgrano finalized designs; these were sent to @DHHwangPhD for printing

### Notes ###
- P-TET-000026 is now multibody (3 components), need to determine if these should have separate part numbers

**1 of 3 components highlighted**
![image](https://user-images.githubusercontent.com/62214284/91081693-81868580-e615-11ea-8345-c71986b1e822

[2020-08-24 19:48] Burhan-Q commented on #121
### Update ###
@Burhan-Q made minor adjustments to prior design, @jgrano finalized designs; these were sent to @DHHwangPhD for printing

### Notes ###
- will need one-way valve flapper installed
- Grooves (x2) for O-Ring have outside diameter of 28.50 mm and are 1.05 mm deep

**Inspiratory bias circuit**
![image](https://user-images.githubusercontent.com/62214284/91088510-27d78880-e620-11ea-922b-5

[2020-08-24 19:54] Burhan-Q opened #124 "P-TET-000033 Rear port cover"
Need to create Rear port cover part.

It will be a housing cover plate for rear ports adapters that connect to ventilator #123

[2020-08-24 19:56] Burhan-Q commented on #124
This ticket was opened after the work by @jgrano was completed. Creating ticket separate from the Rear port adapters #123 which was initially established for creation of rear cover

[2020-08-24 20:03] Burhan-Q commented on #124
### Notes ###
- Openings cut at angle to match housing rear panel
- No apparent mechanism designed for attaching plate to housing, options: bond with epoxy, glue, or drill and screw
- Clearance between ports and opening ~2 mm
- No part number embossed on body
- Status (per week of August 24, 2020)
    - [ ] Ready for review
    - [ ] Design requires more updates

**Rear port cover**
![image](https

[2020-08-24 23:57] thehannahfink opened #125 "Create email and G suite for Tetra Bio Distributed"
Need an official Tetra Bio Distributed google drive to upload the Press Kit to. Thanks!

[2020-08-25 00:11] thehannahfink opened #126 "Send me captions for photos on website's Press Kit page"
Take a look at the [Press Kit page](https://www.tetrabio.org/press-kit) and write captions to add to important images. I've numbered the images, so just send me the image number and the appropriate caption. Thanks!

(not urgent, need by end of week)

(I'll be including more images in the downloadable press kit, but only wanted to save the best for the web page)

[2020-08-25 14:36] Burhan-Q commented on #69
Assigned to @mechatroniks-git per meeting discussion from 2020-08-24

[2020-08-25 14:37] Burhan-Q commented on #73
Assigned to @mechatroniks-git per meeting discussion from 2020-08-24

[2020-08-25 14:37] Burhan-Q commented on #75
Assigned to @mechatroniks-git per meeting discussion from 2020-08-24

[2020-08-25 14:38] Burhan-Q commented on #78
Attempt to combine with #89 per discussion from meeting on 2020-08-24

[2020-08-25 14:40] Burhan-Q commented on #79
Attempt to combine with #90 per discussion from meeting on 2020-08-24

[2020-08-25 14:40] Burhan-Q commented on #81
Attempt to combine with #89 per discussion from meeting on 2020-08-24

[2020-08-25 14:41] Burhan-Q commented on #82
Attempt to combine with #90 per discussion from meeting on 2020-08-24

[2020-08-25 14:42] Burhan-Q commented on #83
Changing assignee from @Judoguy12 to @Burhan-Q per meeting discussion

Attempt to combine with #89 per discussion from meeting on 2020-08-24

[2020-08-25 14:42] Burhan-Q commented on #84
Attempt to combine with #90 per discussion from meeting on 2020-08-24

[2020-08-25 14:43] Burhan-Q commented on #89
Assigned to @Burhan-Q per discussion from meeting on 2020-08-24

[2020-08-25 14:43] Burhan-Q commented on #90
Assigned to @Burhan-Q per discussion from meeting on 2020-08-24

[2020-08-25 14:44] Burhan-Q commented on #74
Assigned to @mechatroniks-git per discussion from meeting on 2020-08-24

[2020-08-25 14:44] Burhan-Q commented on #72
Assigned to @mechatroniks-git per discussion from meeting on 2020-08-24

[2020-08-25 14:45] Burhan-Q commented on #70
Assigned to @mechatroniks-git per discussion from meeting on 2020-08-24

[2020-08-25 14:45] Burhan-Q commented on #80
Assigned to @mechatroniks-git per discussion from meeting on 2020-08-24

[2020-08-25 14:45] Burhan-Q commented on #86
Assigned to @Judoguy12 per discussion from meeting on 2020-08-24

[2020-08-25 14:48] Burhan-Q commented on #87
Reassigned to @Judoguy12 per discussion from meeting on 2020-08-24

Drawing appears to be ready for approval. @Judoguy12 will need to find an approver and assign the task to the approver (exclusively), once approver has provided feedback or approved, the assignment returns to @Judoguy12 until documentation is ready for pull request. All prior feedback is still applicable for the work to be conside

[2020-08-25 14:51] Burhan-Q commented on #91
This Issue might be deemed stale per discussion from meeting on 2020-08-24 as electronics assembly exploded drawing might not be required.

Will move this into Icebox until further notice. If 45 days have passed since this comment with no action, this issue can be considered closed unless overruled by @mmroden or @mechatroniks-git

[2020-08-25 14:53] Burhan-Q commented on #92
See recent comment on #91 regarding status. Issue male be stale, moving to Icebox with 45 day no action limit to close Issue.

[2020-08-25 14:55] Burhan-Q commented on #93
Unassigned per discussion from meeting on 2020-08-24

Requires individual housing part numbers and components to be created, as well as enclosure assembly. Potentially could use flat pattern of folded sheet metal parts.

[2020-08-25 14:55] Burhan-Q commented on #94
Unassigned per discussion from meeting on 2020-08-24

Requires individual housing part numbers and components to be created, as well as enclosure assembly. Potentially could use flat pattern of folded sheet metal parts.

[2020-08-26 16:27] Burhan-Q commented on #107
@capsulecorplab should this ticket get closed?

[2020-08-26 16:34] capsulecorplab commented on #107
Closing!

[2020-08-26 16:34] #107 closed

[2020-08-26 17:05] Burhan-Q commented on #120
Second sprint concluded. Parts shipping to or on premise with @mechatroniks-git for assembly and testing. This issue was created as a log and has no associated PR or commit.

[2020-08-26 17:05] #120 closed

[2020-08-26 17:24] Burhan-Q commented on #100
@Judoguy12 worst case you can check out the parts list [here](https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit#gid=80304938&range=B18), find the correct size parts, and then add them into the model.

[2020-08-26 18:09] Judoguy12 commented on #87
@Burhan-Q Ready to approve

[2020-08-26 18:10] Judoguy12 commented on #77
Ready for review now in the Jamie folder @Burhan-Q

[2020-08-26 21:30] Burhan-Q commented on #124
@mechatroniks-git made some modifications to the design and iterated to P-TET-000033-1 (see image). He will also be printing this for the Alpha build, so the Assignment for this issue has been updated and the [G-Sheet](https://docs.google.com/spreadsheets/d/1FWTYRxglWDqIK_xI6HlBGKUegICQRsXe5NHCJTlTlHs/edit#gid=563995584&range=A1) will also reflect this. These details come from a Slack DM at ~1700-

[2020-08-26 22:04] mechatroniks-git commented on #64
We will test this during assembly in the next few days

[2020-08-28 08:19] Judoguy12 commented on #100
Do you have an idea of what o-ring it is on the middle part?

[2020-08-28 22:38] Burhan-Q commented on #100
@Judoguy12 I looked at the model (A-TET-001030-0), and seems like it has an o-ring in it, PN V-MCM-9262K525

![image](https://user-images.githubusercontent.com/62214284/91620305-92106600-e95d-11ea-9eb7-959654e26c27.png)

[2020-08-29 18:34] Judoguy12 commented on #88
Ready for review

[2020-08-31 23:36] #95 closed

[2020-09-01 00:20] #64 closed

[2020-09-01 00:20] #67 closed

[2020-09-01 00:20] #96 closed

[2020-09-01 00:20] #115 closed

[2020-09-01 05:42] capsulecorplab commented on #2
Closing, as per https://github.com/tetrabiodistributed/project-tetra-docs/pull/70

[2020-09-01 05:42] #2 closed

[2020-09-05 00:22] fpdotmonkey opened #129 "Pi Hat design updates"
- [ ] Hardware Port 1 for the Sensirion Sensor should correspond to software port 0
- [ ] The 50-pin connector to the Pi shouldn't allow for pins to be off by 1
- [x] The silkscreen for the buzzer should indicate which side is positive
- [x] There should be an interface for the software to hard reset the sensor

[2020-09-05 00:32] fpdotmonkey opened #130 "Look into using different flow sensors"

[2020-09-05 00:40] fpdotmonkey commented on #130
My thoughts after not thinking about this too much is that for a DIY-based device, the automotive sensors are extremely attractive.  For a packaged device, the SFM3100 looks about perfect.

[2020-09-16 18:32] Judoguy12 commented on #130
@fpdotmonkey I completely agree

[2020-09-16 18:34] Judoguy12 opened #131 "Explore making the MAF sensor a drop in sensirion replacement"
As came out of the meeting on Wednesday it was discussed about seeing if the MAF sensor could be made into a drop in replacement for the sensirion for more DIY uses.

[2020-10-03 00:51] capsulecorplab opened #132 "add CI pipeline for autogenerating STL files"
Example implementation would be for commits pushed to the master branch to trigger a CI build which could run a python script for generating STL files from all STEP files, then publish the STL files to a dedicated branch.

[2020-10-05 18:01] Burhan-Q opened #133 "Alpha Prototype rework"
@jgrano taking on all tasks pertaining to Prototype design updates/changes and final assembly.

## Goals ##
- Restructure Fusion files based on PDM discussion
- Find all fitment issues, update designs as needed
- Modify internal components and/or enclosure design as needed for optimizing assembly
- Optimize any designs for manufacturing or assembly
- Manufacture and fully assemble prototype
- Veri

[2020-10-05 18:12] Burhan-Q commented on #133
Identified overlapping components (inside of CAD)

## Sensirion to Shutoff valve overlap ##
![overlap_sensirion-to-shutoff_valve](https://user-images.githubusercontent.com/62214284/95116043-6fb7f800-0714-11eb-819b-ee6a76d20520.png)

## Sensirion to ISO adapter overlap ##
![overlap_sensirion-to-ISO_adapter](https://user-images.githubusercontent.com/62214284/95116050-721a5200-0714-11eb-8b72-2ea0caa3

[2020-10-05 18:17] Judoguy12 commented on #133
Following

[2020-10-12 18:04] Judoguy12 opened #134 "Add capacitor to PCB"
It was mentioned that the PCB needs an extra capacitor to fix a problem

[2020-10-13 06:06] hydronics2 commented on #134
added 33nf capacitor based on the updated data sheet for the 5V regulator
https://github.com/tetrabiodistributed/project-tetra/pull/135

[2020-10-13 06:08] hydronics2 commented on #129
- added a p-channel mosfet and transistor circuit to cycle power to all the sensirion flow sensors
- removed the buzzer per request as it is an alarm that we don't have regulatory permissions to indicate
https://github.com/tetrabiodistributed/project-tetra/pull/135

[2020-11-18 21:01] Judoguy12 opened #139 "Get the Reqirements Document for Tetra"
Get the document stating the goals of Tetra

[2020-11-18 21:02] Judoguy12 opened #140 "Write Tetra's Testing specification"
Write down the tests we want tetra to undergo and define pass criteria

[2020-11-18 21:03] Judoguy12 opened #141 "Write deliverables document for tetra"
Write what 3dCrowd will deliver for Tetra

[2020-11-18 21:04] Judoguy12 opened #142 "Get the Mechanical test document"
Find the document of tests needed to run on the Tetra device to ensure it is mechanically sound

[2020-11-18 21:35] Judoguy12 commented on #141
https://docs.google.com/document/d/1rzz-PBMZdrrLAsvQuItP8v-ut_myBzQ9y4WDl_KXmLE/edit?usp=sharing

[2020-11-18 21:50] Judoguy12 commented on #139
Initial website page that will need tidying up
https://tetrabiodistributed.github.io/project-tetra-docs/references/hardware-requirements/

[2020-11-18 21:56] Judoguy12 commented on #140
Will be transferred to the website

https://docs.google.com/document/d/1woSVfRFWcU1IHEs3X66P7dTMBY_45qS-Xk9WlSRjt7Q/edit

[2020-11-18 22:02] Judoguy12 commented on #142
This needs writing considering testing the software and the leak of the device. Previously a ventilator was used so a solution may be needed to avoid this.

[2020-11-20 21:03] Burhan-Q commented on #139
@Judoguy12 also see this page:
https://tetrabiodistributed.github.io/project-tetra-docs/references/stakeholder-concerns-and-requirements/

[2020-11-20 21:23] Burhan-Q commented on #139
@Judoguy12 also, these tickets might be good to relocate into the /tetrabiodistributed/project-tetra-docs/ repo

[2020-11-20 21:23] Judoguy12 commented on #142
https://docs.google.com/document/d/1d5qQ5dmPzwSBTMPdLzqYaVzz-wIni7c2SQICvF_ySZA/edit?usp=sharing

[2020-11-21 19:29] Burhan-Q commented on #140
Also see the following documents for reference on ventilator and vent-sharing testing and/or protocols:

[Ventilator Service manual](https://www.medonegroup.com/pdf/manuals/techManuals/Maquet-Servo-i-Service-Manual.pdf) - see Troubleshooting section, other sections good reference as well
[FDA Criteria for safety, performance, and labeling](https://www.fda.gov/media/136437/download) - includes some

[2020-11-25 18:56] Judoguy12 commented on #142
Superceded by https://docs.google.com/document/d/15b1f-CKBMfO2Kmck0VQR8wqceb-19cEREcwgl8lF6Rk/edit?usp=drivesdk

[2020-12-11 19:40] darraghbr opened #146 "Pi HAT PCB review"
Upon reviewing the Pi HAT for the tetra project I have come up with a couple of potential issues.

1 - The pullup resistors between the pressure sensors and the I2C multiplexer seem too high a value, according to the application note and some calcs I would expect them to be in the range of 1 - 5 KOhm depending upon fast mode being enabled.

2 - The I2C address selection pins on the I2C multiplexer

[2020-12-11 20:57] mmroden commented on #146
Please make each one of these into separate issues so we can be sure that
they all get addressed; when there are many issues in the same ticket,
chances are good that one or two will get lost in the shuffle.

On Fri, Dec 11, 2020 at 11:41 AM Darragh Broadbent <notifications@github.com>
wrote:

[2020-12-11 22:16] darraghbr opened #147 "Pi HAT PCB multiplexer resistors incorrect value"
The pullup resistors between the pressure sensors and the I2C multiplexer seem too high a value, according to the application note and some calcs I would expect them to be in the range of 1 - 5 KOhm depending upon fast mode being enabled.

On the schematic this applies to R7-10 and R13-18.

[2020-12-11 22:17] darraghbr opened #148 "I2C address selection pins not connected in accordance with application note"
The I2C address selection pins on the I2C multiplexer are currently connected to GND or 3.3V via a 10K resistor, the application note suggests that they are connected directly to 3.3V or GND, this is probably not critical.

On the schematic this applies to R19, 20, 25 and R39-41.

[2020-12-11 22:18] darraghbr opened #149 "Some plated through holes too close to traces on PCB"
The board layout has some potential clearance issues between the edge of some plated throughholes and a number of traces, this issue may or may not be relevant depending on the board house.

[2020-12-11 22:19] darraghbr opened #150 "Potential issue with noise on the ADC"
The application note for the ADC suggests crossing the analogue and digital traces at 90° to one another, and to keep the traces as short as possible, the layout at the moment doesn’t seem ideal for these. If we see much poorer accuracy on ADC channel 1 and 2 compared to 3 and 4 this will probably be why. If there is a suspicion that we are close to the tolerance on these sensors it may warrant mo

[2020-12-11 22:20] darraghbr opened #151 "Wire stubs found in PCB design"
Upon doing a DRC check the PCB has some curious wire stubs that don’t appear to be intentional, they should be replaced with polygon, this is probably not critical.

[2020-12-11 22:20] #146 closed

[2020-12-11 23:30] mmroden commented on #146
Thank you for the split!  I don't want to lose anything you're saying

[2020-12-12 17:39] mechatroniks-git commented on #148
On page 5&6 of [datasheet](https://www.ti.com/lit/ds/symlink/tca9548a.pdf?ts=1607713427169&ref_url=https%253A%252F%252Fwww.ti.com%252Fstore%252Fti%252Fen%252Fp%252Fproduct%252F%253Fp%253DTCA9548APWR)

![image](https://user-images.githubusercontent.com/57600622/101990861-c59da480-3c5d-11eb-802e-87736a6de68b.png)

![image](https://user-images.githubusercontent.com/57600622/101990632-c7b33380-3c5c-11

[2020-12-12 17:39] #148 closed

[2020-12-12 17:40] mechatroniks-git commented on #147
@hydronics2 or @fpdotmonkey Can you tell us if fast mode is being used?

[2020-12-12 18:02] mechatroniks-git commented on #149
@darraghbr Can you share your eagle DRU file? We should be evaluating the design rules with a common file.

[2020-12-12 18:15] darraghbr commented on #148
While I don't disagree with you that having a 10K resistor won't hurt, the data sheet on page 4 states this. That was the basis for me making this issue.

![image](https://user-images.githubusercontent.com/31858409/101991600-ceb26400-3ca5-11eb-9c0e-0184e7c591c0.png)

[2020-12-12 18:19] darraghbr commented on #147
Even with fast mode enabled and nearly the highest bus capacitance that the chip can tolerate the range for the appropriate resistor is between 900 and ~ 1012 Ohms. I would just replace them with a 1K resistor.

[2020-12-12 19:04] mechatroniks-git commented on #148
The "directly" comment here is certainly confusing.

I found this:  [eval board](https://www.ti.com/lit/ug/slvua73/slvua73.pdf?ts=1607799198136&ref_url=https%253A%252F%252Fwww.ti.com%252Ftool%252FTCA9548AEVM), Here TI is using 10K to gnd/vcc.
![image](https://user-images.githubusercontent.com/57600622/101992512-c12ab900-3c68-11eb-839e-ca504b43c0bb.png)

[2020-12-12 20:08] darraghbr commented on #149
I am using the dru file presented in the JLCPCB official GitHub repo, which can be found here:

https://github.com/JLCPCBofficial/jlcpcb-eagle/tree/master/design%20rules

It turns out that I misread the clearances slightly and it is actually an issue between a wire and a hole rather than a hole and something on the dimension layer. I will edit the title and initial comment to reflect this.

[2020-12-12 20:43] mechatroniks-git commented on #147
I didn't run the formula, but page 23 of the [datasheet](https://www.ti.com/lit/ds/symlink/tca9548a.pdf?ts=1607793644356&ref_url=https%253A%252F%252Fwww.google.com%252F) shows this:
![image](https://user-images.githubusercontent.com/57600622/101994319-6d26d100-3c76-11eb-993b-84b3a5c4d74f.png)
I agree with your recommendation to reduce the 10K resistors. 1K would cover the range, if we are using fa

[2020-12-12 21:24] mechatroniks-git commented on #149
Ah ok, I had downloaded someone's JLCPCB from github, but upon inspection didn't match their [capabilities](https://jlcpcb.com/capabilities/Capabilities) page. Even the official one is not consistent, for example, website offers 0.2mm minimum drill, DRU is at 0.3mm.

In any case, using their official DRU, looking at the file:

- I see the 3 clearance errors on the bottom copper, which I agree they

[2020-12-12 21:29] mechatroniks-git commented on #151
I see 6 wire stub warnings, some in the GND plane get covered by GND polygon. None are an issue, but certainly worth cleaning up when fixing the other errors.

[2020-12-13 02:42] darraghbr commented on #149
Yes I recognised the thermal vias on the power supply were just a small issue with the library. That's definitely in the non critical category.

[2020-12-13 19:16] hydronics2 commented on #151
I tried deleting the wire stubs and I get air-wire warnings (un-routed
traces). This happens to me from time to time when I'm routing and
rerouting work between revisions... finicky Ealge thing... I'm not sure how
to get rid of the wire-stubs and because air-wire warnings are worse than
wire-stub warnings I'm inclined to leave them. If anyone can get rid of the
wire stubs, please go ahead.

On Sat

[2020-12-13 19:47] hydronics2 commented on #149
- yea it looks like the JLCP allows signal to edge of 0.2mm or 8mil. I
don't like stretching my polygon ground planes to the max allowable extent
so I have it set at 15mil in the DRU. Setting the DRU to 15mil I do see
some errors for 5 plated holes on the right side of the board that go away
when I set the DRU to 8mil. Can you send me a screen shot of the "3
clearance errors on the bottom side"?
[

[2020-12-13 20:08] hydronics2 commented on #147
wow... that's a great graph. Thanks for the feedback. I don't know the i2c
speed but we should be pushing for slow speeds as much as possible for the
off-board sensiron sensors.

I typically push using 10K for everything to simplify the board design.
Weak pullups  (10k) should be fine for the onboard SPL006 pressure
sensors but the sensirion sensors (off board) probably makes sense to drop
these p

[2020-12-13 20:29] hydronics2 commented on #150
Yea I agree the routing on the ADC could be better although I've not studied how the digital/analog lines cross each other.  I think we should keep this issue open and evaluate it once we get feedback on the sensors. The layout was for a quick prototype and right now there there seems little interest in moving forward with the ADC and associated automotive sensor so I'm hesitant to spend any time

[2020-12-13 20:33] hydronics2 commented on #149
Images
JLCPCB Design Rules
![image](https://user-images.githubusercontent.com/3589948/102022973-3668bd80-3d3f-11eb-9909-3889495f5186.png)
Editing the DRU file for the board outline
![image](https://user-images.githubusercontent.com/3589948/102022984-46809d00-3d3f-11eb-8ea7-2638ff7c90a6.png)

Edit DRU file to get rid of overlap errors between same signals (SMD and Via)
![image](https://user-images.

[2020-12-14 05:13] darraghbr commented on #149
Issue resolved by #152

[2020-12-14 05:13] darraghbr commented on #147
Issue resolved by #152

[2020-12-14 05:13] darraghbr commented on #151
Issue resolved by #152

[2020-12-18 16:05] Judoguy12 opened #153 "P-TET-000026 Dimension problems"
This part has some wrong dimensions, the 3 way tube has a different dimension for each output, these need to be standardised. Also it has an orange groove but the orang is not specified

[2020-12-18 16:11] Judoguy12 opened #154 "P-TET-000032-0 No O-ring specified"
This part has an o-ring groove but no o-ring specified, which o-ring should it be

[2020-12-19 10:51] #151 closed

[2020-12-19 10:52] #149 closed

[2020-12-19 10:53] #147 closed

[2020-12-22 17:03] Burhan-Q commented on #154
Very likely V-MCM-9262K527 - Buna-N O-Ring 1.5 mm Wide, 26 mm ID

The ID of the o-ring groove is 26.40 mm is 2 mm wide

[2020-12-22 17:12] Burhan-Q commented on #153
@Judoguy12 can you provide details on which dimensions are incorrect/different? Looking at the model (in the Alpha 2.0 folder) looks like they're all the same diameters.

Also, the ID for the o-ring groove looks to be 26.40 mm, so the o-ring to use is likely V-MCM-9262K527 - Buna-N O-Ring 1.5 mm Wide, 26 mm ID

[2020-12-22 19:44] Judoguy12 commented on #153
Yeah the right angle pipe that connects to the bias peice was much harder
to fit that the right angles on the edges of the inspiratory and expiratory
circuits even though they look to be largely the same part.

Thanks for the oring size

On Tue, 22 Dec 2020, 17:12 Burhan, <notifications@github.com> wrote:

[2020-12-23 21:45] mechatroniks-git commented on #134
5V regulator has been replaced with new device, this is no longer an issue

[2020-12-23 21:45] #134 closed

[2021-01-31 11:39] darraghbr opened #159 "Missing item on Pi HAT BOM"
We are missing the 2x20 header strip that goes between the Pi and the HAT.

I think this is roughly the correct part number.

https://www.mouser.co.uk/ProductDetail/TE-Connectivity/2-534998-0/?qs=%2Fha2pyFaduiXhbXo1Q7kVEqN1S1BJj7DwXrciKekKYCi1xy6LVwXqQ==&utm_source=octopart&utm_medium=aggregator&utm_campaign=571-25349980&utm_content=TE+Connectivity

[2021-01-31 11:40] darraghbr commented on #159
@mechatroniks-git

[2021-01-31 17:56] hydronics2 commented on #159
That looks right to me. This is the one I used: https://lcsc.com/product-detail/Pin-Header-Female-Header_BOOMELE-Boom-Precision-Elec-C50982_C50982.html

[2021-02-01 21:01] mechatroniks-git commented on #159
The TE part will work just fine.
![image](https://user-images.githubusercontent.com/57600622/106517578-89343b00-648d-11eb-80c0-2da2a93179ba.png)

[2021-02-03 17:14] #159 closed

[2021-02-08 17:42] mmroden commented on #154
Needs to be added to the BOM

[2021-02-08 17:43] mmroden commented on #153
Jamie will check it

[2021-02-08 17:44] mmroden commented on #150
Does not need to be done for a first deployment, not sure if the ADCs will be used

[2021-02-08 17:45] mmroden commented on #142
Needs a PR, not in git yet

[2021-02-08 17:52] mmroden commented on #124
Good for now, will reopen if we need it

[2021-02-08 17:52] #124 closed

[2021-02-08 17:53] mmroden commented on #123
being superceded by nylon, Jamie can test

[2021-02-08 17:54] mmroden commented on #122
fitted, not tested

[2021-02-08 17:55] mmroden commented on #121
Jamie to test

[2021-02-08 17:55] mmroden commented on #119
Housing is now "nice to have"

[2021-02-08 17:56] mmroden commented on #119
PCB grew 1 mm, this issue is still open, and not nice-to-have

[2021-02-08 17:57] mmroden commented on #118
Needs a reviewer

[2021-02-10 16:27] mechatroniks-git commented on #154
O-Rings are already in the BOM, need to do a BOM scrub to determine if quantity is correct.
https://docs.google.com/spreadsheets/d/1nCw9LUN7ygv8B8hno6poN-m15rsixNSolVTXhXynrfw/edit#gid=80304938****

[2021-02-10 16:41] mechatroniks-git commented on #118
Not complete. The diameter was adjusted, but the parts are still unique part #s (P-TET-000011 & P-TET-000013). They should be the same. We should add embossed part numbers to the model as well. To make work, we need to modify P-TET-000014 to match the width and screw pattern.

![image](https://user-images.githubusercontent.com/57600622/107541174-b5ca1000-6b7b-11eb-8dd1-fe6a206f7ba0.png)

[2021-02-10 16:53] mechatroniks-git commented on #129
The request for the logical ports (starting at 0) to align with physical pin numbers (starting at 1) is not recommended practice, as all the datasheets have pins that start at pin 1. The hardware should reference the datasheet.

If the request was to align GPIO ports, then best to maintain a config.h with the hardware mappings.

[2021-02-10 16:53] #129 closed

[2021-02-10 17:08] Judoguy12 commented on #5
Decided not to include alerting, the Ventilator will take care of it

[2021-02-10 17:08] #5 closed

[2021-02-10 17:16] Judoguy12 commented on #7
Fixed with Our new manifold design #128

[2021-02-10 17:16] #7 closed

[2021-02-10 17:18] Judoguy12 commented on #11
Still to do, we would be aiming for a full CE

[2021-02-10 17:27] Judoguy12 commented on #13
Still needs to be found when we apply, don't know if this is needed for CE but certain for Emergency approval

[2021-02-10 17:28] Judoguy12 commented on #18
@fpdotmonkey Does this exist?

[2021-02-10 17:31] Judoguy12 commented on #42
@fpdotmonkey Has this been done

[2021-02-10 17:34] mmroden commented on #62
This has been done.  https://github.com/tetrabiodistributed/project-tetra-display/pull/1

[2021-02-10 17:34] #62 closed

[2021-02-10 17:35] fpdotmonkey commented on #18
No this was never a feature that I was told of

[2021-02-10 17:36] fpdotmonkey commented on #6
This is explored in https://github.com/tetrabiodistributed/project-tetra-display

[2021-02-10 17:36] #6 closed

[2021-02-10 17:38] fpdotmonkey commented on #12
We aimed for AAMI 50501, which I believe is a COVID EUA version of that standard

[2021-02-10 17:39] Judoguy12 commented on #18
Ok, I think it is an nice to have anyway

[2021-02-10 17:39] fpdotmonkey commented on #42
nearly.  It's a quick script to get it done.

[2021-02-10 17:40] fpdotmonkey commented on #42
This describes how to do it https://github.com/tetrabiodistributed/project-tetra-display/blob/master/Documentation/HowToRunAnApplicationAtLaunchOnAnRPi.md

[2021-02-10 17:40] Judoguy12 commented on #12
Ok perfect

[2021-02-10 17:41] fpdotmonkey commented on #56
duplicate of https://github.com/tetrabiodistributed/project-tetra-display/issues/21

[2021-02-10 17:41] #56 closed

[2021-02-10 17:41] #12 closed

[2021-02-10 17:41] fpdotmonkey commented on #60
Is this necessary with the software in a separate repo?

[2021-02-10 17:42] fpdotmonkey commented on #68
Can't remember when the change was made, but this has been done. https://github.com/tetrabiodistributed/project-tetra-display/blob/master/tetra_constants.py

[2021-02-10 17:42] #68 closed

[2021-02-10 17:44] #60 closed

[2021-02-10 17:49] Judoguy12 commented on #100
@mechatroniks-git I believed this is solved, the worked fine for my assembly

[2021-02-13 17:38] Judoguy12 commented on #118
Should be all done @mechatroniks-git

[2021-02-23 05:31] darraghbr opened #163 "[Hardware] Review drawings for push fit manifold and tube adaptors before release"
I have generated a version of the pressure sensing manifold and 22 mm tube adaptor in order to be compatible with the push fit nylon version of the Tetra. It needs reviewing before it is issue for manufacture.

Please see attached pdfs of the components. A step file will be generated and issued along with the drawings.

[D-TET-001105-0 Push Fit Manifold Drawing.pdf](https://github.com/tetrabiodist

[2021-02-23 05:31] darraghbr commented on #163
@mmroden who should this get assigned to?

[2021-02-24 17:25] mechatroniks-git commented on #163
1. The assembly drawing should not have part dimensions, this should only be on the part drawing. Here we can have dims on the assembly, between parts, or overall dims are ok too.
2.  Part number not meeting format, should be M-LEGRIS-XXX & M-???-BS111
![image](https://user-images.githubusercontent.com/57600622/109038901-13cd1c00-7681-11eb-9561-4042c7ac3439.png)

Specific to the assembly drawing -

[2021-02-24 17:37] mechatroniks-git commented on #163
D-TET-001106 same issues with part number missing M-LEGRIS. Also, need part drawing for the aluminum part. This looks like a CNC lathe part, so need corner radius
![image](https://user-images.githubusercontent.com/57600622/109041285-b71f3080-7683-11eb-9618-f69076b94679.png)

Does the Legris o-ring need any o-ring grease during assembly? If so, make a note.

[2021-02-24 18:43] darraghbr commented on #163
The ID on the 001106 part I would suspect will be bored out, so radius on the end will be minimal. I have added a comment on the OD of the part to suggest the feature is non-critical.

On 001105 6061-T6 is not a material we can source readily, 6082 is the alloy we can get hold of here. I have also added a note about the external profile being non-critical. With an ISO standard drawing it's pretty

[2021-02-26 17:19] Judoguy12 commented on #163
@mechatroniks-git Are these drawings up to snuff?

[2021-02-26 17:28] mechatroniks-git commented on #163
I still say that an assembly drawing shouldn't have any part dimensions, other than what's needed for assembly. We need to delete those and create a part drawing with those dimensions, so we have a single source of truth.

[2021-03-02 11:57] darraghbr commented on #163
Ultimately a drawing is there to convey information, and unless a drawing is difficult or confusing to read what we are talking about is a style choice.

Removing information from a drawing and generating twice as many drawings as is necessary does not solve any problems that I can see and in my opinion dilutes the concept of a single source of truth.

This is my argument to keep them how they are

[2021-03-02 19:41] mmroden commented on #163
I'm not sure I understand completely what I'm being asked to adjudicate here.  It sounds like there's a question of having an assembly drawing and a part drawing?  Should we discuss in the meeting tomorrow?  What's the difficulty of having a part drawing with materials distinct from an assembly drawing with no materials but just how parts are expected to fit together?  Don't they convey different

[2021-03-03 17:03] mechatroniks-git commented on #163
I've never sent assembly drawings to a machine shop, but I've never used shops in Europe, perhaps it's common there?  Here, they want part drawings if they are doing to make parts. But if it works, leave it as-is

[2021-03-04 18:05] mmroden opened #165 "[Hardware] Build Progress Photos needed from UK Group"
### Creating a task using this template
1. Rename Task title
2. Add details of task -- Darragh has built some splitters, need progress
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ X] Assigned _(specify assignees)_
- [ ] Work

[2021-03-10 17:31] #163 closed

[2021-05-15 17:35] #140 closed

[2021-05-15 17:35] #142 closed

[2021-05-15 17:36] #141 closed

[2021-05-15 17:36] #139 closed

[2021-05-15 17:41] mmroden opened #168 "[Hardware] pushfit adapters to 22mm"
### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Sub

[2021-05-15 17:42] mmroden opened #169 "[Hardware] pushfit to sensirion sensors"
### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Sub

[2021-05-15 17:45] mmroden opened #170 "[Hardware] build up working tetra electronics with sensirion and pi board"
### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Sub

[2021-05-16 00:21] mechatroniks-git commented on #170
Board built, wired to sensors, power tested with Raspberry Pi 4. Ready for Raspberry Pi 3B+ and Pi Display.

[2021-07-09 10:30] Judoguy12 opened #172 "[Hardware] Moving to 12mm Push-fit"
### Creating a task using this template
Having tested 6mm push-fit the pressure drop was found to be much too high and not enough flow was reaching the lung. To alleviate this we are moving to using 12mm push-fit piping. This means new 22mm adaptors are needed for the larger size

Task details
#171

- [ ] Assigned @darraghbr
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Submit for Re

[2021-07-11 04:54] darraghbr commented on #172
Can we have some supporting information here about the move to 12mm, for instance an image of the test set up with the 6mm system in situ showing that it is unable to crack the non-return valves. Maybe some squiggly lines from the VentMon?

If we can also measure the pressure drop across a set length of the 12mm and 6mm tube just so we double check the hand calcs.

If we can then have a full set u

[2021-07-14 17:56] darraghbr opened #173 "[Hardware] Layout and design push fit Tetra system and enclosure"
We need to come up with a 3D layout of the push fit Tetra system enclosed within a standard off the shelf plastic electronics enclosure, such as one of these things.

https://uk.rs-online.com/web/c/enclosures-server-racks/enclosures/general-purpose-enclosures/

[2021-08-11 16:47] mmroden commented on #170
To be done in the US

[2021-08-11 16:47] mmroden opened #174 "[Hardware] build up working tetra electronics with sensirion and pi board in the UK"
### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Sub

[2021-08-14 17:34] mmroden commented on #170
Blocked on the UK prototype because we can't test it without the prototype

[2021-08-21 17:31] Judoguy12 commented on #168
I have just tested plastic threaded adaptors and they seem to fit together with the threaded part well now Ill move onto testing pressure drop across the pipe

[2021-08-21 17:32] Judoguy12 commented on #168
![PXL_20210821_172928145 MP](https://user-images.githubusercontent.com/30008485/130330272-04572ef8-d21e-4f95-a6ed-a4f48c803155.jpg)

[2021-08-21 21:26] Judoguy12 opened #176 "[Hardware] pushfit adapters to 22mm leaking in FDM"
### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Create Milestone
8. Add any Assignee(s)

Task details
#(related issue number)

- [ ] Assigned _(specify assignees)_
- [ ] Work in Progress _(move card on Project Board)_
- [ ] Sub

[2021-08-21 21:32] Judoguy12 commented on #176
The Current 22mm Adaptors are leaking when Printed using FDM. They leak at 19cmH2O. This is likely due to the relatively short taper and also the grooved nature of the FDM prints.  Tomorrow I will wrap the connector in tape to seal the mating surface and retest .If Printed in Resin or machined I do not believe the leak would be an issue. In the Photo the connector is connected to the inspirtory ar

[2021-08-22 13:32] Judoguy12 commented on #176
Once I wrapped black tape around I retested under same conditions and got a much smaller negligible leak![PXL_20210822_133039972.MP.jpg](https://user-images.githubusercontent.com/30008485/130357082-799b1c0e-3ee4-43fe-8d95-051f13ca444c.jpg)

[2021-08-22 14:07] #168 closed

[2021-08-22 14:07] #169 closed

[2021-08-22 14:10] Judoguy12 commented on #165
Testing pushfit adaptors
![PXL_20210821_172926528.MP.jpg](https://user-images.githubusercontent.com/30008485/130358206-c49800e2-79ef-4b94-a721-28daef0bc434.jpg)![PXL_20210821_211953166.MP.jpg](https://user-images.githubusercontent.com/30008485/130358214-646478e4-8200-4431-84f5-72e1354cc7e1.jpg)![PXL_20210821_211956681.MP.jpg](https://user-images.githubusercontent.com/30008485/130358216-d311da4f-3f

[2021-08-22 14:12] Judoguy12 commented on #165
Testing 12mm pressure drop
![PXL_20210822_135709268.MP.jpg](https://user-images.githubusercontent.com/30008485/130358289-72ac1664-569c-4d47-9c59-3f848152f33c.jpg)![Screenshot_20210822-145702.png](https://user-images.githubusercontent.com/30008485/130358293-8ac26764-96ec-45bd-9dc2-230cf822f764.png)

[2021-08-22 14:13] Judoguy12 commented on #165
![Screenshot_20210822-145335.png](https://user-images.githubusercontent.com/30008485/130358314-b7221767-7301-4011-a5a7-edd6a9f37665.png)![PXL_20210822_134022598.MP.jpg](https://user-images.githubusercontent.com/30008485/130358319-55feb277-fe49-4564-a85d-60a743cc338d.jpg)

[2021-08-22 14:52] Judoguy12 commented on #172
Pressure Drop Across 30cm of 12mm tube was undetectable with the tools I have available. I tested at both 19cmH2O and 60cmH2O. The images below show the testing Setup.
![PXL_20210822_134022598 MP](https://user-images.githubusercontent.com/30008485/130359451-c1bcf26b-018f-48d6-8ed6-c3c5d62d6190.jpg)

19cmH2O
![PXL_20210822_134038950 MP](https://user-images.githubusercontent.com/30008485/130359588-f

[2021-08-22 15:13] mmroden commented on #172
Have you replicated this capability?

https://www.markmroden.com/Tetra-Testing/24-April-2020-ventilator-splitting

That is, shown that one patient can have a different PIP than the other?
On Aug 22, 2021, 7:52 AM -0700, Judoguy12 ***@***.***>, wrote:

[2021-08-22 16:11] darraghbr commented on #172
Not yet Mark, this is in direct response to my request in the comment above Jamies.

[2021-08-22 16:18] mmroden commented on #172
Gotcha, makes sense.
On Aug 22, 2021, 9:11 AM -0700, Darragh Broadbent ***@***.***>, wrote:

[2021-08-23 16:56] mmroden commented on #165
Instead of tape, how about an o-ring?

[2021-08-24 16:24] mmroden commented on #176
Should be testing leak between 80 and 120 cmH20 of pressure.

Also, investigate an o-ring solution vs tape

[2021-08-24 16:25] mmroden commented on #176
We investigated a lot of leak before, the resin prints may help, but a proper ISO 5356 taper should also do the trick, esp with an o-ring on it.

[2021-08-24 16:26] mmroden commented on #176
80-120 is the standard per Daniel for pressures in the hospital, so 120 is a good target.  No need to go above that.

[2021-08-24 16:28] mmroden commented on #176
Also, a pre-use check will be useful for making sure that everything's good.  This is a circuit-safety check and device safety check prior to being put on a human.  Check the sparrow preuse checks on the puritan bennet ventilator in the EUA documentation (not the standard, but will work for EUA).

[2021-08-28 18:35] Judoguy12 commented on #172
Whole circuit test setup at 45cm H2O

Found that lungs deflated very slowly and need a thinner one way valve to work
![PXL_20210828_183229022 MP](https://user-images.githubusercontent.com/30008485/131227606-1b351b51-4fa6-42e2-a3cd-70c5dd38625f.jpg)
![Screenshot_20210828-130021](https://user-images.githubusercontent.com/30008485/131227610-3f63f92b-e0f7-49bc-b70d-7df1bb57bdca.png)

[2021-08-28 18:43] Judoguy12 commented on #172
![Uploading w7{26b0e70} (bf98d54d-252b-4970-ba39-c199b261db53 > id=0x7f0a037d) …]()![PXL_20210828_114958650.MP.jpg](https://user-images.githubusercontent.com/30008485/131227811-fde65b2c-f51d-4ba0-af84-a2b361cca53e.jpg)

[2021-08-28 18:49] Judoguy12 commented on #172
![PXL_20210828_114928109.MP.jpg](https://user-images.githubusercontent.com/30008485/131227939-f6b115d2-5e8d-4bb5-b64f-b31a68b3f395.jpg)![PXL_20210828_114958650.MP.jpg](https://user-images.githubusercontent.com/30008485/131227940-27ec491b-1e6c-4b60-b950-fe3e4198ab04.jpg)

[2021-08-28 18:54] Judoguy12 commented on #172
With a weaker one way valve operation would be much more optimal and lungs would deflate at the normal rate. After rearranging the inspiratory arm to the correct configuration the flow restriction worked much better going to 24.4 when blue is 2 turns down with pink remaining unaffected at 25.7

[2021-08-30 16:41] mmroden opened #177 "[Hardware] Pushfit expiratory valve needs a redesign to have a very low crack pressure"
Lungs remain inflated at the end of the breath cycle and need to be able to deflate back to PEEP.  At 6 breaths/minute, they're fine, but any faster, then there's accumulation

### Creating a task using this template
1. Rename Task title
2. Add details of task
3. Add reference of any existing Issue
4. Expand checklist below (if needed)
5. Add/Create appropriate label(s)
6. Select Project
7. Add/Cr

[2021-08-31 16:25] mmroden opened #178 "[Hardware] Document lung compliance differences in testing protocol"
The testing protocol must indicate what to do about different lung compliances

[2021-09-12 08:44] Judoguy12 commented on #172
With more compliant valves on both inspiratory and expiratory of breathing circuits we get pressures as in the vent except a 1cmH2O drop in PEEP
![Screenshot_20210912-094253.png](https://user-images.githubusercontent.com/30008485/132980675-832af90e-48fa-4062-923f-d3aa01ea8e0f.png)

[2021-09-12 08:45] Judoguy12 commented on #172
![PXL_20210912_084030399.MP.jpg](https://user-images.githubusercontent.com/30008485/132980843-7aab9f45-9301-41d5-a7aa-cd7e1d39587c.jpg)

[2021-09-12 08:46] Judoguy12 commented on #172
![PXL_20210912_084537197.jpg](https://user-images.githubusercontent.com/30008485/132981219-bc3cf0bd-3df2-40a1-a126-d81d1a540750.jpg)

[2021-09-12 08:48] #177 closed

[2021-09-12 08:52] Judoguy12 commented on #172
With blue shut off and a compliant valve from there used in pink we notice no change to PIP but the PEEP does get much closer to the 9.5 so the bias circuit needs a soft valve too![Screenshot_20210912-095112.png](https://user-images.githubusercontent.com/30008485/132981408-39e9ac87-8e7f-426c-84b7-902d65703701.png)

[2021-09-12 08:53] Judoguy12 commented on #172
![PXL_20210912_085131357.jpg](https://user-images.githubusercontent.com/30008485/132981417-a0b73403-0dad-4a50-ba9d-7eb518c66582.jpg)

[2021-09-12 08:53] Judoguy12 commented on #172
![PXL_20210912_085127532.jpg](https://user-images.githubusercontent.com/30008485/132981421-f350d6c2-3bf1-4427-bdde-4158a8860b68.jpg)

[2021-09-12 08:57] Judoguy12 commented on #172
Also upon significantly reducing blues flow valve we found pink's PIP and PEEP not to change. I believe this is the requirement asked for by @mmroden .![Screenshot_20210912-095507.png](https://user-images.githubusercontent.com/30008485/132981512-aa9f889c-94a1-42c8-8709-dd65be97f77f.png)

[2021-09-12 08:57] Judoguy12 commented on #172
![PXL_20210912_085529351.jpg](https://user-images.githubusercontent.com/30008485/132981518-de40951f-717a-49ff-9525-7f0b1f04835f.jpg)![PXL_20210912_085520807.jpg](https://user-images.githubusercontent.com/30008485/132981522-9321308f-518c-4af3-90ba-60744bab8f37.jpg)

[2021-10-03 20:35] darraghbr opened #181 "[Hardware] 3D printed adapters showing signs of leakage"
A significant leak has been observed on the current iteration of the push fit system.

It is suspected that it is coming from an FDM printed adapter between the push fit parts and the VentMon.

We need to identify the leaks exact location and remediate as we go.

@Judoguy12 please use this issue to document where you locate the leaks and we will go from there.

I have pre-emptively redesigned the

[2021-10-04 02:29] darraghbr commented on #181
Honestly using the Sensirion I have and printing the adapters as they are on the master branch in some Photocentric flex resin they seal perfectly well, I can still huck the PCB clean off the sensor if I blow hard enough. I don't have any 3/8" BSPT fittings to test with so it's possible the adaptor is bottoming out on the fitting before it makes a good enough seal, I have some 3/8" BSPT fittings c

[2021-10-07 13:57] Judoguy12 commented on #181
Leak was identified through all 3dprinted adaptors either through the plastic or under the tape, I will be printing in resin to remedy this
![PXL_20211007_053652141](https://user-images.githubusercontent.com/30008485/136399175-66c61d47-42f5-4e33-8f64-38cabb94df11.jpg)
![PXL_20211007_053711347](https://user-images.githubusercontent.com/30008485/136399181-5e995cca-bc79-4e95-a5e3-f0d3f4eeb497.jpg)
![

[2021-10-09 17:18] darraghbr commented on #181
If this is just the FDM adapters then this is a duplicate of #176

[2021-10-21 10:44] Judoguy12 commented on #181
Solved by the resin adaptors![PXL_20211021_104231003.jpg](https://user-images.githubusercontent.com/30008485/138262396-3b880889-319f-4f79-a477-f6e7c1e3a174.jpg)

[2021-10-25 16:37] darraghbr commented on #181
Closing and duplicate with #176